<div class="modal" id="addBankAccountModal" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Bank Account Addition</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_with url: employer_create_account_path, method: :post, id: 'bank-form' do |f| %>
        <div class="modal-body">
          <div class="form-errors text-danger mb-1"></div>
          <div class="form-group">
            <label for="routing-number" class="h5">Bank Routing number</label>
            <%= text_field_tag 'routing_number',
                               nil,
                               class: 'form-control mb-1',
                               placeholder: 'Enter the ABA routing number',
                               required: true %>
          </div>
          <div class="form-group">
            <label for="account-number" class="h5">Bank Account number</label>
            <%= text_field_tag 'account_number',
                               nil,
                               class: 'form-control mb-1',
                               placeholder: '000123456789',
                               required: true %>
          </div>
          <div class="form-group">
            <label for="account_holder_name" class="h5">Bank Account Holder Name</label>
            <%= text_field_tag 'account_holder_name',
                               nil,
                               class: 'form-control mb-1',
                               placeholder: 'Jenny Rosen',
                               required: true %>
          </div>
          <div class="form-group">
            <label for="account_holder_type" class="h5">Bank Account Holder Type</label>
            <select id="account_holder_type" class="form-control mb-1 select2 text-muted" name="account_holder_type" style="width: 100%">
              <option>individual</option>
              <option>company</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Add a Bank Account', type: 'submit', class: 'btn btn-outline-primary submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function () {
    const publicKey = window.stripe_publishable_key;
    const stripe = Stripe(publicKey);
    const $form = $('#bank-form');

    $form.on('submit', (function(e) {
      e.preventDefault();
      $form.find('.submit').prop('disabled', true);
      stripe.createToken('bank_account', {
        'bank_account': {
          'country': 'US',
          'currency': 'usd',
          'routing_number': $('#routing_number').val(),
          'account_number': $('#account_number').val(),
          'account_holder_name': $('#account_holder_name').val(),
          'account_holder_type': $('#account_holder_type').val()
        }
      })
      .then(function(response) {
        if (response.error) {
          // Show the errors on the form
          $form.find('.form-errors').text(response.error.message);
          $form.find('.submit').prop('disabled', false); // Re-enable submission
        } else {
          const token = response['token'];
          const hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'stripeToken');
          hiddenInput.setAttribute('value', token.id);
          $form.get(0).appendChild(hiddenInput);
          $('#routing_number').remove();
          $('#account_number').remove();
          $('#account_holder_name').remove();
          $('#account_holder_type').remove();

          // Submit the form
          $form.get(0).submit();
        }
      });
      return false;
    }))
  })
</script>