<div class="modal" id="addCreditCardModal" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header px-4">
          <h1 class="modal-title px-2">
            Credit Card
            <small>enter your card details</small>
          </h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      <%= form_for :stripe, url: employer_create_card_path, method: :post do |f| %>
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="h5" for="name">Name</label>
                    <%= f.text_field :name,
                                     class: 'form-control',
                                     id: 'name',
                                     placeholder: 'Enter your name' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="h5" for="ccnumber">Credit Card Number</label>
                    <div class="input-group">
                      <%= f.text_field :card_number,
                                       class: 'form-control',
                                       id: 'ccnumber',
                                       placeholder: '0000 0000 0000 0000',
                                       required: true %>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="far fa-credit-card"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label class="h5" for="ccmonth">Month</label>
                  <%= f.select :exp_month,
                               options_for_select((1..12).to_a, 1), {},
                               class: 'form-control selectpicker',
                               'data-style': 'bp-btn-select',
                               id: 'ccmonth',
                               required: true %>
                </div>
                <div class="form-group col-sm-4">
                  <label class="h5" for="ccyear">Year</label>
                  <%= f.select :exp_year,
                               options_for_select(EmployerProfile::AVAILABLE_CARD_YEARS, EmployerProfile::AVAILABLE_CARD_YEARS.first),
                               {}, class: 'form-control selectpicker text-grey-dark',
                               'data-style': 'bp-btn-select',
                               id: 'ccyear',
                               required: true %>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="h5" for="cvv">CVV/CVC</label>
                    <%= f.text_field :cvc,
                                     class: 'form-control',
                                     id: 'cvv',
                                     placeholder: '123',
                                     required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer px-4">
            <%= f.submit 'Add a Credit Card', type: 'submit', class: 'btn btn-outline-primary mx-2' %>
          </div>
      <% end %>
    </div>
  </div>
</div>