<%= render partial: 'freelancer/navigation', locals: { section: 'applications' } %>

<!--Job card-->
<div class="container mb-3">
  <%= render partial: 'shared/notice_and_alert' %>
  <h1>Applications</h1>
  <% @job_applications.each do |job_application| %>
    <%= render partial: 'employer/jobs/show_job_post', locals: { job: job_application.job } %>
    <%= render partial: 'freelancer/applications/delete_application_draft', locals: { job_application: job_application } %>
    <%= render partial: 'freelancer/applications/withdraw_application', locals: { job_application: job_application } %>
    <%= render partial: 'freelancer/application_flows/_preview_job_application_dropdown', locals: { job_application: job_application, editable: true } %>
    <% if job_application.state == 'draft' || job_application.state == 'applied' %>
      <div class="bp-card mb-3">
        <div>
          <div class="d-flex flex-column flex-lg-row">
            <div class="mr-auto"><h2 class="text-wrap text-break"><%= job_application.job&.title&.capitalize %></h2></div>
            <div class="d-flex flex-column flex-md-row my-2 my-lg-0">
              <% if job_application.state == 'applied' %>
                <div class="bp-text-sm text-secondary font-weight-bold align-self-md-center align-self-start text-nowrap mr-2">
                  Applied
                </div>
              <% elsif job_application.state == 'draft' %>
                <div class="bp-text-sm text-secondary font-weight-bold align-self-md-center align-self-start text-nowrap mr-2">
                  Saved as draft
                </div>
                <div class="mt-1 mr-md-2">
                  <%= link_to 'Apply', freelancer_application_flows_path(job_app: job_application.id), { remote: true, 'data-toggle': "modal", 'data-target': "#jobAppStep1", class: "btn btn-primary d-block" } %>
                </div>
              <% end %>
              <%= render partial: 'freelancer/applications/application_dropdown', locals: { job_application: job_application } %>
            </div>
          </div>
        </div>
        <div>
          <div class="bp-text-sm mb-3">
            <% if job_application.applied_at.nil? %>
              Posted on <%= job_application.job.created_at.strftime("%b %d %Y") %>
            <% else %>
              Applied <%= time_ago_in_words(job_application.applied_at) %> ago for job posted on <%= job_application.job.created_at.strftime("%b %d %Y") %>
            <% end %>
          </div>
          <%= render partial: 'freelancer/shared/job_card', locals: { job: job_application.job } %>
        </div>
      </div>
    <% end %>
    <div class="d-flex d-lg-none mb-3"></div> <!--Shim for mobile views-->
  <% end %>

  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>

<div id="jobAppStepModal"></div>