<p><b><%= @contract.employer_profile.user.full_name %></b> offered you a job. Go to your <a href="<%= freelancer_contracts_url %>" target='_blank'>Contracts</a> to accept the offer or send a message.</p>
<h5>Job Title</h5>
<p><%= @contract.title %></p>
<h5>Job Description</h5>
<%= @contract.job_description.body.to_s %>
<h5>Offered Rate</h5> 
<p>$<%= @contract.pay_rate %></p>
<h5>Net Rate <div style='display: inline-block; font-weight: normal;'>(After Bullpen commission)</div></h5>
<p>$<%= (0.7*@contract.pay_rate).to_i %></p>
<%= render partial: 'email/button', locals: { button_txt: 'View Offer', url: freelancer_contracts_url } %>