<br>
<%= render partial: 'email/content_block_left_slim', locals: { content: "<h2 style='color: #005495;'>You received a message from #{@job.user.full_name}.</h2>" } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "<h3 style='color: #005495;'>#{@job.title}</h3>" } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "<h3>Message:</h3>" } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "#{@message.description}" } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "<h3>Company information:</h3>" } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "#{@job.user.employer_profile.company_name}" } %>
<%= render partial: 'email/content_block_left_slim', locals: { content: "<a href=#{@job.user.employer_profile.company_website}>#{@job.user.employer_profile.company_website}</a>" } %>
<%= render partial: 'email/content_block_left', locals: { content: "Reply to this email to communicate directly with #{@job.user.first_name}" } %>