<%= form_for :job, url: wizard_path, method: :put, remote: true do |f| %>
  <%= f.hidden_field :job_id, value: @job.id %>
  <%= f.hidden_field 'step', value: 'post_job_step_4' %>

  <label class="h5">Hourly Range Pay</label> ($100 - $150 recommended)
  <div class="row">
    <div class="col">
      <%= f.text_field :pay_range_low, class: "form-control mb-2 mr-lg-2", placeholder: "$ Low", required: true %>
    </div>
    <div class="col">
      <%= f.text_field :pay_range_high, class: "form-control", placeholder: "$ High" %>
      <span class="error_message text-danger"></span>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="jobDetailsTextarea" class="h5">Describe responsibilities, provided resources, or any other requirements. <span class="text-dark font-weight-normal">(Optional)</span></label>
    <%= f.rich_text_area :relevant_details, class: "form-control", id: "jobDetailsTextarea", placeholder: "Enter any relevant job details", rows: "8", maxlength: "5000" %>
  </div>
  <div class="d-flex pt-3 justify-content-between">
    <%= link_to employer_job_flows_path(id: :post_job_step_3, job_id: @job.id), class: "btn btn-outline-primary", remote: true do %>
      <i class="fas fa-chevron-left mr-2"></i>Back
    <% end %>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
      Next<i class="fas fa-chevron-right ml-2"></i>
    <% end %>
  </div>
<% end %>
<script>
  formatCurrency($('#job_pay_range_low'));
  formatCurrency($('#job_pay_range_high'));

  $('#job_pay_range_low').keyup(() => {
    formatCurrency($('#job_pay_range_low'));
  });

  $('#job_pay_range_high').keyup(() => {
    formatCurrency($('#job_pay_range_high'));
  });

  $('#job_pay_range_high').on('blur', () => {
    const job_pay_range_low = $('#job_pay_range_low').val().replace(/\$|a..zA..Z|,/g, '');
    const job_pay_range_high = $('#job_pay_range_high').val().replace(/\$|a..zA..Z|,/g, '');
    if (job_pay_range_high && (parseInt(job_pay_range_high, 10) < parseInt(job_pay_range_low, 10))) {
      $('.error_message').text('Enter ' + $('#job_pay_range_low').val() + ' or more');
      $('#job_pay_range_high').addClass('error');
    } else {
      $('.error_message').text('');
      $('#job_pay_range_high').removeClass('error');
    }
  });

  $('.btn-primary').on('click', (e) => {
    const job_pay_range_low = $('#job_pay_range_low').val().replace(/\$|a..zA..Z|,/g, '');
    const job_pay_range_high = $('#job_pay_range_high').val().replace(/\$|a..zA..Z|,/g, '');
    if (job_pay_range_high && (parseInt(job_pay_range_high, 10) < parseInt(job_pay_range_low, 10))) {
      $('.error_message').text('Enter ' + $('#job_pay_range_low').val()+ ' or more');
      $('#job_pay_range_high').addClass('error');
      e.preventDefault();
      e.stopPropagation();
    }
  });

  document.addEventListener("trix-file-accept", event => {
    event.preventDefault();
  });
</script>