<%= form_for :job, url: wizard_path, method: :put, remote: true do |f| %>
  <%= f.hidden_field :job_id, value: @job.id %>
  <%= f.hidden_field 'step', value: 'post_job_step_4' %>
  <div class="container">
    <div class="alert alert-danger d-none" role="alert">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label class="h5">Contact Type <i class="far fa-question-circle text-primary"></i></label>
      <%= f.select :contract_type,
                   options_for_select(
                       { 'Hourly': 'hourly', 'Monthly Retainer - 80 hrs': 'monthly_retainer_80' },
                       job.contract_type),
                   {}, class: 'form-control', required: true, style: "width: 100%" %>
    </div>
    <div class="col">
      <label class="h5 rangePay">Hourly Pay Range <span class="font-weight-normal text-dark">($100-S150 recommended)</span></label>
      <div class="row">
        <div class="form-group col">
          <%= f.text_field :pay_range_low, class: "form-control", placeholder: "$ Low", required: true %>
        </div>
        <div class="form-group col">
          <%= f.text_field :pay_range_high, class: "form-control", placeholder: "$ High" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mb-1 mt-3">
    <label for="jobDetailsTextarea" class="h5">Describe responsibilities, provided resources, or any other requirements. <span class="text-dark font-weight-normal">(Optional)</span></label>
    <%= f.text_area :relevant_job_details, class: "form-control",rows: "3", id: "jobDetailsTextarea", placeholder: "Enter any relevant job details", rows: "8", maxlength: "5000" %>
  </div>
  <div class="modal-footer justify-content-between">
    <%= link_to employer_job_flows_path(id: :post_job_step_3, job_id: @job.id), class: "btn btn-outline-primary", remote: true do %>
      <i class="fas fa-chevron-left mr-2"></i>Back
    <% end %>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
      Next<i class="fas fa-chevron-right ml-2"></i>
    <% end %>
  </div>
<% end %>
<script>
  change_contract_type();

  $('#job_contract_type').change(() => {
    change_contract_type();
  });

  function change_contract_type() {
    if ($("#job_contract_type").val() == 'hourly'){
      $('#job_pay_range_high').removeClass('d-none');
      $('#job_pay_range_low').attr("placeholder", "$ Low");
      $('.rangePay').html('Hourly Pay Range <span class="font-weight-normal text-dark">($100-S150 recommended)</span>')
    } else {
      $('#job_pay_range_high').addClass('d-none');
      $('#job_pay_range_low').attr("placeholder", "$ Monthly amount");
      $('.rangePay').html('Monthly Retainer Fee <span class="font-weight-normal text-dark">($7,000 recommended)</span>')
    }
  };

  $('#job_pay_range_high').on('input', () => {
    const job_pay_range_low = $('#job_pay_range_low').val();
    const job_pay_range_high = $('#job_pay_range_high').val();
    if (parseInt(job_pay_range_high, 10) < parseInt(job_pay_range_low, 10)) {
      show_alert('You enter an incorrect data');
      e.preventDefault();
      e.stopPropagation();
    }
  });

  function show_alert(message) {
    $('.alert').removeClass('d-none').addClass('d-block').append(message);
    setTimeout(() => {
      $('.alert').removeClass('d-block').addClass('d-none').text('');
    }, 3000);
  }
</script>