<%= form_for :job, url: wizard_path, method: :put, remote: true do |f| %>
  <%= f.hidden_field :job_id, value: @job.id %>
  <%= f.hidden_field 'step', value: 'questions' %>
  <div class="d-flex justify-content-between">
    <label class="h5">Are there questions you want answered when an application is submitted?</label>
    <div><a data-toggle="collapse" href="#questionsTip" role="button" aria-expanded="false" aria-controls="questionsTip"><i class="far fa-lightbulb align-middle mb-1" style="font-size:1.5rem"></i><span class="ml-1 d-none d-lg-inline">Quick Tip</span></a></div>
  </div>
  <div id="questionsTip" class="collapse">
    Use open-ended prompts to generate thoughtful responses from your applicants, such as:
  <ul class="pl-3">
    <li>Describe your development experience in Dallas, TX.</li>
    <li>What resources do you use when evaluating an office acquisition, and how do you use them? </li>
  </ul>
  </div>
  <div class="form-group job-questions">
    <%= f.fields_for :job_questions do |q| %>
      <%= q.text_field :description_1, { class: "form-control mb-2", id: "applicantQuestions1", placeholder: "Enter a question (optional)", maxlength: "250" } %>
      <%= q.text_field :description_2, { class: "form-control mb-2", id: "applicantQuestions2", placeholder: "Enter a question (optional)", maxlength: "250" } %>
      <%= q.text_field :description_3, { class: "form-control mb-2", id: "applicantQuestions3", placeholder: "Enter a question (optional)", maxlength: "250" } %>
      <div class="new-question"></div>
    <% end %>
  </div>
  <button type="button" class="btn btn-link py-0 new-question-button"><i class="fas fa-plus mr-2"></i>Add another question</button>
  <div class="modal-footer justify-content-between">
    <%= link_to employer_job_flows_path(id: :details, job_id: @job.id), class: "btn btn-outline-primary", remote: true do %>
      <i class="fas fa-chevron-left mr-2"></i>Back
    <% end %>
    <div>
      <%= button_tag type: 'submit', value: 'draft', class: "btn btn-outline-primary mr-1" do %>
        Save<span class="d-none d-sm-inline"> as Draft</span><i class="fas fa-chevron-right ml-2"></i>
      <% end %>
      <%= button_tag type: 'submit', class: "btn btn-primary" do %>
        Preview<span class="d-none d-sm-inline"> Job Post</span><i class="fas fa-chevron-right ml-2"></i>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $(".modal-body").on("click", ".new-question-button", () => {
    const inputs = $('.job-questions input[type="text"]');
    const new_id = "job[job_questions][description_"+(inputs.length+1)+"]";
    $('.job-questions').append('<input class="form-control mb-2" type="text" name="'+new_id+'" placeholder="Enter a question (optional)" maxlength="250">');
  });
</script>
