<!--Add Work Experience Modal-->
<style>
    .collapsing {
        transition-duration: unset;
    }
</style>

<div class="modal fade" id="addWorkExperienceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mb-3" id="modalLabel">Add Experience</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <%= form_for :freelancer_profile_experience, url: freelancer_change_work_experience_path do |f| %>
        <div class="modal-body pt-0">

          <div id="alertWarning" class="d-none">
            <div class="alert alert-warning" role="alert">
              Ending date cannot occur before the starting date.
            </div>
          </div>

          <div class="form-group">
            <label for="jobTitleInput" class="bp-input-label">Job Title</label>
            <%= f.text_field :job_title, class: "form-control", id: "jobTitleInput", placeholder: "Enter your job title", required: true %>
          </div>
          <div class="form-group">
            <label for="companyInput" class="bp-input-label">Company</label>
            <%= f.text_field :company, class: "form-control", id: "companyInput", placeholder: "Enter the company name", required: true %>
          </div>
          <div class="form-group">
            <label for="locationInput" class="bp-input-label">Location</label>
            <%= f.text_field :location, class: "form-control", id: "locationInput", placeholder: "e.g. San Francisco, CA", required: true %>
          </div>
          <div class="form-group">
            <div class="row mb-3">
              <div class="col">
                <label for="startMonth" class="bp-input-label">Start Date</label>
              </div>
              <div class="col">
                <label for="endMonth" class="bp-input-label">End Date</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="row">
                  <div class="col" style="padding-right: 5px;">
                    <%= f.select :start_month,
                                 options_for_select(select_months_array),
                                 {}, class: 'form-control selectpicker',
                                 id: "startMonth", required: true, 'data-style': "bp-btn-select-border", title: "Month" %>
                  </div>
                  <div class="col" style="padding-left: 5px;">
                    <%= f.select :start_year,
                                 options_for_select(FreelancerProfileExperience::AVAILABLE_YEARS),
                                 {}, class: 'form-control selectpicker',
                                 id: "startYear", required: true, 'data-style': "bp-btn-select-border", title: "Year" %>
                  </div>
                </div>
              </div>
              <div class="col" id="endDateToggle">
                <div class="row">
                  <div class="col" style="padding-right: 5px;">
                    <%= f.select :end_month,
                                 options_for_select(
                                   select_months_array),
                                 {}, class: 'form-control selectpicker',
                                 id: "endMonth",
                                 'data-style': "bp-btn-select-border", title: "Month" %>
                  </div>
                  <div class="col" style="padding-left: 5px;">
                    <%= f.select :end_year,
                                 options_for_select(FreelancerProfileExperience::AVAILABLE_YEARS),
                                 {}, class: 'form-control selectpicker',
                                 id: "endYear",
                                 'data-style': "bp-btn-select-border", title: "Year" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-control custom-checkbox">
              <%= f.check_box :current_job,
                              class: "custom-control-input my-current-job",
                              id: "editCurrentJob",
                              type: "button",
                              'aria-expanded': "false",
                              'aria-controls': "editEndDateToggle" %>
              <label class="custom-control-label" for="editCurrentJob">This is
                my current job</label>
            </div>
          </div>
          <div class="form-group mb-0">
            <label for="jobDescriptionTextarea" class="bp-input-label">Description</label>
            <%= f.text_area :description, class: "form-control", id: "jobDescriptionTextarea", placeholder: "Enter your job description", rows: 3, required: true %>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-link px-0 text-dark" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'freelancer_profile_steps/date_validation' %>
<script>
    $(document).on('turbolinks:load', function () {
        <% if @freelancer_profile.freelancer_profile_educations.count > 1 %>
        $('.modal-footer').addClass('justify-content-between');
        $('.btn-outline-danger').removeClass('d-none');
        <% end %>

        function toggleEndDate(e) {
            e.preventDefault();
            const currentObjectState = $(e.target).is(':checked');
            const currentEndYear = $('#endYear');
            const currentEndMonth = $('#endMonth');

            if (currentObjectState) {
                currentEndYear.attr('disabled', true);
                currentEndMonth.attr('disabled', true);
                currentEndYear.val('default');
                currentEndMonth.val('default');
                currentEndYear.selectpicker('refresh');
                currentEndMonth.selectpicker('refresh');
            } else {
                currentEndYear.removeAttr('disabled');
                currentEndMonth.removeAttr('disabled');
                currentEndYear.selectpicker('refresh');
                currentEndMonth.selectpicker('refresh');
            }
        }

        $('.my-current-job').on('change', function (e) {
            toggleEndDate(e)
        });
    })
</script>
