<div class="w-100">
  <%= render partial: 'shared/about_freelancer_short', locals: { freelancer_profile: freelancer_profile,
                                                                 editable: editable } %>
  <div>
    <p class="text-wrap text-break mt-3 mb-2"><%= freelancer_profile.professional_summary %></p>
    <% if job_application.present? %>
      <p class="text-secondary mb-2"><b><%= number_to_currency(job_application.bid_amount, precision: 0) %> <%= job_application.job.hourly? ? "per hour" : "per month" %></b></p>
    <% elsif freelancer_profile.desired_hourly_rate.present? %>
      <p class="text-secondary mb-2"><b><%= number_to_currency(freelancer_profile.desired_hourly_rate, precision: 0) %> per hour</b></p>
    <% end %>
    <%  freelancer_profile.sectors.order(description: :asc)&.each do |sector| %>
      <span class="badge badge-secondary mt-1"><%= sector.description %></span>
    <% end %>
  </div>
</div>
