<div class="modal fade" id="editCertifications" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="postJobStep1Label">Edit Licence or Certification</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_for :freelancer_profile, url: freelancer_change_certifications_path do |f| %>
        <div class="modal-body pt-0">
          <div class="form-group mb-4">
            <h4>Licence or Certification</h4>
            <div class="w-100">
              <%= f.select :freelancer_certifications,
                           options_for_select(
                             freelancer_certifications,
                             @freelancer_profile&.freelancer_certifications&.map do |certification|
                               [certification.certification.description, certification.certification.id]
                             end.flatten
                           ),
                           {}, multiple: true, class: 'select2', required: true %>
            </div>
            <div>
              <a data-toggle="collapse" href=#descriptionCertification" data-target=".multi-collapse" aria-expanded="false" aria-controls="descriptionCertification customDescriptionCertification">
                Create a custom entry
              </a>
            </div>

            <div class="form-group">
              <label for="earnedMonth" class="bp-input-label mt-5">Date earned</label>
              <div class="row mb-3">
                <div class="col">
                  <%= f.select :earned_month,
                               options_for_select(
                                 select_months_array,
                                 @freelancer_profile&.freelancer_certification&.earned&.month),
                               {}, class: 'form-control selectpicker',
                               id: 'earnedMonth', required: true, 'data-style': "bp-btn-select-border", title: "Month" %>
                </div>
                <div class="col">
                  <%= f.select :earned_year,
                               options_for_select(
                                 FreelancerCertification::AVAILABLE_YEARS,
                                 freelancer_profile&.freelancer_certification&.earned&.year),
                               {}, class: 'form-control selectpicker',
                               id: 'earnedYear', required: true, 'data-style': "bp-btn-select-border", title: "Year" %>
                </div>
              </div>
              <%= f.hidden_field :id, value: freelancer_certification.id %>
            </div>
          </div>
          <script>
              $(function() {
                  $('.select2').select2({
                      placeholder: 'Select all that apply',
                      allowClear: true
                  });
              });
          </script>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-link px-0 invisible"></button>
            <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
