<% if freelancer_profile.real_estate_skills.any? %>
    <%= render 'shared/freelancer_real_estate_skills',
               freelancer_profile: freelancer_profile,
               editable: editable %>
<% end %>

<% if freelancer_profile.softwares.any? %>
    <%= render 'shared/freelancer_softwares',
               freelancer_profile: freelancer_profile,
               editable: editable %>
<% else %>
  <div class="mt-3">
    <%= render 'freelancer/shared/edit_freelancer_softwares', freelancer_profile: freelancer_profile %>
    <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#editSoftwareModal">
      Add Software Licences
    </button>
  </div>
<% end %>

<% if freelancer_profile.freelancer_profile_experiences.any? %>
    <%= render 'shared/freelancer_profile_experiences',
               freelancer_profile: freelancer_profile,
               editable: editable %>
<% end %>

<% if freelancer_profile.freelancer_profile_educations.any? || freelancer_profile.freelancer_certifications.any? %>
  <hr>
<% end %>

<div class="mt-3">
  <% if freelancer_profile.freelancer_profile_educations.any? %>
    <%= render partial: 'shared/freelancer_profile_educations', locals: { freelancer_profile: freelancer_profile,
                                                                          editable: editable } %>
  <% end %>
  <% if freelancer_profile.freelancer_certifications.any? %>
    <%= render partial: 'shared/freelancer_certifications', locals: { freelancer_profile: freelancer_profile,
                                                                     editable: editable } %>
  <% else %>
    <% if editable %>
      <h4 class="mt-3">Licenses &amp; Certifications</h4>
      <div class="mt-3">
        <%= render 'freelancer/shared/add_certifications', freelancer_profile: freelancer_profile %>
        <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#addLicenseCertificationModal">
          Add Licence or Certification
        </button>
      </div>
    <% end %>
  <% end %>
</div>
