<div class="d-flex flex-sm-row flex-column">
  <div class="mr-3">
    <% if @freelancer_profile.avatar.attached? %>
      <div class="text-light mb-3 avatar-image" style="line-height: 0;">
        <%= image_tag @freelancer_profile.avatar, class: 'rounded-circle', width: '115px', height: '115px' %>
      </div>
    <% else %>
      <div class="text-light mb-3 avatar-image" style="font-size: 113px; line-height: 0;"><i class="fas fa-user-circle"></i></div>
    <% end %>
  </div>
  <div class="container pr-0">
    <div class="d-flex flex-row flex-inline">
      <div class="d-flex-col">
        <h2><%= @freelancer_profile.full_name %></h2>
      </div>
      <% if @freelancer_profile.editable?(current_user) %>
        <div class="d-flex-col ml-auto">
          <i class="fas fa-edit text-primary"></i>
        </div>
      <% end %>
    </div>
    <div class="mb-2 text-wrap text-break">
      <%= @freelancer_profile.professional_title %><br>
      <%= @freelancer_profile.user.location %>
    </div>
    <div class="text-wrap text-break mb-4"><%= @freelancer_profile.professional_summary %></div>
    <div>
      <%  @freelancer_profile.sectors.order(description: :asc)&.each do |sector| %>
        <span class="badge badge-secondary mb-1"><%= sector.description %></span>
      <% end %>
    </div>
  </div>
</div>
<% if @freelancer_profile.real_estate_skills.any? || @freelancer_profile.softwares.any? %><hr><% end %>
<%= render partial: 'shared/freelancer_skills_education', locals: { freelancer_profile: @freelancer_profile, job_application: nil } %>
