<h4 class="mt-3">Licenses &amp; Certifications</h4>
<% freelancer_profile.freelancer_certifications.order(earned: :desc).each do |freelancer_certification| %>
  <div class="d-flex mb-2">
    <div class="mr-2"><b><%= freelancer_certification.description %></b></div>
    <div class="ml-auto mr-1"><i><%= freelancer_certification.earned.strftime("%b %Y") %></i></div>
    <% if editable %>
      <button class="fas fa-edit text-primary ml-1" type="button"  data-toggle="modal" data-target="#editLicenseCertificationModal-<%= freelancer_certification.id %>"></button>
    <% end %>
  </div>
  <%= render partial: 'freelancer/shared/edit_certifications', locals: { freelancer_certification: freelancer_certification, certifications: @certifications } if @freelancer_profile && @certifications %>
<% end %>
<% if @freelancer_profile&.editable?(current_user) %>
  <div class="mt-3">
    <%= render 'freelancer/shared/add_certifications', freelancer_profile: freelancer_profile %>
    <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#addLicenseCertificationModal">
      Add Licence or Certification
    </button>
  </div>
<% end %>
