<%= render partial: 'shared/job_short_description', locals: { job: job } %>
<h5 class="mt-3">Details</h5>
<%= job.relevant_details %>
<hr>
<ul class="pl-3">
  <li>This is <i class="text-secondary font-weight-bold"> <%= job.position_length %> </i> position</li>
  <li><i class="text-secondary font-weight-bold"> <%= job.hours_needed&.capitalize %> </i> hours are needed</li>
</ul>
<div class="bp-text mb-2 mt-2">
  <% if job.daytime_availability_required? %>
    <i class="far fa-clock text-secondary fa-lg fa-fw"></i> Daytime availability is required <span class="text-secondary font-weight-bold">(9AM-5PM <%= job.time_zone %>)</span>
  <% end %>
</div>
<hr>
<div class="row">
  <div class="col-12 mb-3 col-sm mb-sm-0">
    <h5>Required Skills</h5>
    <ul class="pl-3">
        <% job.job_skills.each do |job_skill| %>
        <li><%= job_skill.skill.description %></li>
      <% end %>
    </ul>
  </div>
  <% if job.job_softwares.any? %>
    <div class="col-12 mb-3 col-sm mb-sm-0">
      <h5> Required Software </h5>
      <ul class="pl-3">
        <% job.job_softwares.each do |job_software| %>
          <li><%= job_software.software.description %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-12 col-sm">
    <h5>Experience Level</h5>
    <ul class="pl-3">
      <li><%= job.required_experience&.capitalize %></li>
    </ul>
  </div>
</div>
<% if job.required_regional_knowledge.present? %>
  <div class="bp-text mb-1 mt-3">
    <i class="fas fa-map-marker-alt text-secondary fa-lg fa-fw"></i>  Regional knowledge of <span class="text-secondary font-weight-bold"><%= job.required_regional_knowledge %></span> is required
  </div>
<% end %>
<% if job.job_questions.any? %>
  <hr>
  <h5>Questions for Applicants</div>
  <ul class="pl-3">
    <% job.job_questions.each do |job_question| %>
      <li><%= job_question.description %></li>
    <% end %>
  </ul>
<% end %>
<%= render partial: 'shared/about_employer', locals: { job: job } %>
<% if job.posted? %>
  <hr>
  <h5>Sharable link</h5>
  <span class="text-break">
    <%= link_to public_job_url(job.slug), public_job_url(job.slug), target: '_blank' %>
  </span>
<% end %>
