<div class="modal" id="showOfferContractDetails<%= contract.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--  Header with '×'-->
      <div class="modal-header">
        <h1 class="modal-title" id="showOfferDetailsLabel"><%= contract.pending? ? 'Offer Details' : 'Contract Details' %> <i class="far fa-question-circle text-primary"></i> </h1>
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Offer Details Card-->
      <div class="modal-body py-0 mb-3">
        <div class="row mb-4">
          <div class="col-sm-6">
            <h5>From</h5>
            <%= contract.employer_profile.full_name %>, <%= contract.employer_profile.company_name %>
          </div>
          <div class="col-sm-6 mt-4 mt-sm-0">
            <h5>To</h5>
            <%= contract.freelancer_profile.full_name %>
          </div>
        </div>
        <h5>Job Title</h5>
        <div class="mb-4"><%= contract.title %></div>
        <h5>Job Description</h5>
        <div class="mb-4"><%= contract.job_description.body.to_s %></div>
        <div class="row">
          <div class="col-md-6">
            <h5><%= contract.pending? ? 'Offered Rate' : 'Contract Rate' %></h5>
            <% if contract.contract_type == 'hourly' %>
              <div><%= "#{number_to_currency(contract.pay_rate)} per hour" %></div>
            <% else %>
              <div><%= "#{number_to_currency(contract.pay_rate)} monthly retainer fee for up to #{contract.contract_type.split('_').last} hours" %></div>
              <%= "#{number_to_currency(contract.pay_rate/contract.contract_type.split('_').last.to_i)} per hour for additional hours" %>
            <% end %>
          </div>
          <% if current_user.freelancer? %>
            <div class="col-md-6">
              <h5>Net Rate<a class="text-dark font-weight-normal"> (After Bullpen commission)</a></h5>
              <% if contract.contract_type == 'hourly' %>
                <div><%= "#{number_to_currency(contract.pay_rate*current_user.freelancer_profile.payout_percentage / 100.round)} per hour" %></div>
              <% else %>
                <div><%= "#{number_to_currency(contract.pay_rate*current_user.freelancer_profile.payout_percentage / 100.round)} monthly retainer fee for up to #{contract.contract_type.split('_').last} hours" %></div>
                <%= "#{number_to_currency(contract.pay_rate*current_user.freelancer_profile.payout_percentage / 100 / contract.contract_type.split('_').last.to_i)} per hour for additional hours" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
