<div class="modal" id="declineJobApplication<%= job_application.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content mt-3">
      <div class="modal-header">
        <h1 class="modal-title" id="declineJobApplication">Decline a Job Application </h1>
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <p>Are you sure you want to decline  <strong><%= job_application.freelancer_profile.full_name %></strong>? We’ll send them a notification.</p>
      </div>
      <div class="modal-footer justify-content-between pt-0">
        <button type="button" class="btn btn-link px-0 text-dark" data-dismiss="modal">Cancel</button>
        <div>
          <button class="btn btn-outline-danger d-block decline-job-application<%= job_application.id %>" type="button">Decline</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.decline-job-application<%= job_application.id %>').on('click', () => {
    $.ajax({
      url: '/employer/decline_job_application',
      method: 'POST',
      data: { id: <%= job_application.id %> },
      success: () => {
        document.location.reload();
      }
    })
  })
</script>