<%= render partial: 'employer/navigation', locals: { section: 'jobs' } %>

<!--Job card-->
<div class="container mb-3">
  <%= render partial: 'shared/notice_and_alert' %>
  <h1>Jobs</h1>
  <% @jobs.each do |job| %>
    <%= render partial: 'employer/jobs/show_job_post', locals: { job: job } %>
    <div class="bp-card mb-3 card<%= job.id %>">
      <div>
        <div class="d-flex flex-column flex-lg-row">
          <div class="mr-auto"><h2 class="text-wrap text-break"><%= job&.title&.capitalize %></h2></div>
          <div class="d-flex flex-column flex-md-row my-2 my-lg-0">
            <% if job.state == 'draft' %>
              <div class="bp-text-sm text-secondary font-weight-bold align-self-md-center align-self-start text-nowrap mr-3">
                Saved as Draft
              </div>
            <% end %>
            <% if job.state == 'posted' %>
              <div class="bp-text-sm text-secondary font-weight-bold align-self-md-center align-self-start mr-3">
                Posted
              </div>
            <% elsif job.ready_to_post? %>
              <%= link_to 'Post Job', employer_post_job_path(id: job.id), class: "btn btn-primary mr-2" %>
            <% end %>
            <div class="dropdown my-3 my-md-0 align-self-md-center align-self-start">
              <button class="btn btn-outline-primary dropdown-toggle pr-1" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= job.state == 'draft' ? 'More' : 'Options' %><i class="fas fa-chevron-down ml-1"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#showJobPost<%= job.id %>">Show Job Post</button>
                <%= link_to 'Edit Job Post', employer_job_flows_path(job_id: job.id), { remote: true, 'data-toggle': "modal", 'data-target': "#postJobStep1", class: " dropdown-item" } %>
                <button class="dropdown-item text-danger delete-job-<%= job.id %>" type="button">Delete Job</button>
                <script>
                  $('.delete-job-'+<%= job.id %>).click(() => {
                    Swal.fire({
                      text: "Are you sure?\n",
                      confirmButtonText: `Yes`,
                      showCancelButton: true
                    }).then((result) => {
                      if (result.isConfirmed) {
                        $.ajax({
                          url: '/employer/jobs/<%= job.id %>',
                          method: 'DELETE',
                          success: () => {
                            document.location.reload();
                          }
                        })
                      }
                    });
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="bp-text-sm mb-3">Created <%= time_ago_in_words(job&.created_at) %> ago </div>
        <div class="row">
          <div class="col-lg-8">
            <%= render partial: 'shared/job_short_description', locals: { job: job } %>
            <span class="badge badge-secondary mt-1"><%= job.position_length&.capitalize %></span>
            <span class="badge badge-secondary mt-1"><%= job.hours_needed&.capitalize %></span>
            <div class="bp-text-sm mb-2 mt-3">
             <% if (job.daytime_availability_required == true) %>
              <i class="far fa-clock text-secondary"></i> Daytime availability is required <span class="text-secondary">(9AM-5PM PST)</span>
             <% end %>
            </div>
            <div class="bp-text-sm mb-2">
             <% if (job.required_regional_knowledge.present?) %>
               <i class="fas fa-map-marker-alt text-secondary"></i>  Regional knowledge of <span class="text-secondary"><%= job.required_regional_knowledge %></span> is required
             <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if job.job_applications.applied.any? %>
        <div class="d-flex flex-column flex-lg-row">
          <div class="mr-auto">
            <a class="link_action<%= job.id %>" data-toggle="collapse" data-target="#collapseApplications<%= job.id %>" aria-expanded="true" aria-controls="collapseApplications<%= job.id %>">
              Applications <span class="text-secondary">(<%= job.job_applications.applied.size %>)</span>
            </a>
          </div>
          <div class="d-flex flex-column flex-md-row my-2 my-lg-0">
            <a class="link_action<%= job.id %> more-less<%= job.id %>" data-toggle="collapse" data-target="#collapseApplications<%= job.id %>" aria-expanded="true" aria-controls="collapseApplications<%= job.id %>">
              Show More<i class="fas fa-chevron-down ml-1"></i>
            </a>
            <a style="display: none" class="link_action<%= job.id %> more-less<%= job.id %>" data-toggle="collapse" data-target="#collapseApplications<%= job.id %>" aria-expanded="true" aria-controls="collapseApplications<%= job.id %>">
              Show Less<i class="fas fa-chevron-up ml-1"></i>
            </a>
          </div>
        </div>
          <div id="collapseApplications<%= job.id %>" class="collapse">
            <hr>
            <% job.job_applications.applied.each do |job_application| %>
              <div class="d-flex justify-content-between flex-column flex-lg-row">
                <%= render partial: 'shared/about_freelancer', locals: { freelancer_profile: job_application.user.freelancer_profile,
                                                                         job_application: job_application,
                                                                         editable: false } %>
                <%= render partial: 'freelancer/application_flows/_preview_job_application_dropdown', locals: { job_application: job_application, editable: false } %>
                <%= render partial: 'employer/jobs/send_message', locals: { job_application: job_application } %>
                <div class="d-flex flex-column flex-md-row my-2 my-lg-0">
                  <div class="d-block p-1 d-sm-inline-block mt-1">
                    <div id="like<%= job_application.id %>">
                      <i class="<%= job_application.liked ? 'fas' : 'far' %> fa-heart btn-link <%= job_application.liked ? 'text-danger' : '' %> like<%= job_application.id %>"></i>
                    </div>
                  </div>
                  <div class="d-block p-1 d-sm-inline-block">
                    <button class="btn btn-primary">Make an Offer</button>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle pr-1 mt-1 container-fluid" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      More <i class="fas fa-chevron-down text-primary"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#previewApplicationDropdown-<%= job_application.id %>">
                        Show Application
                      </button>
                      <button class="dropdown-item" type="button"  data-toggle="modal" data-target="#sendMessage<%= job_application.id %>">
                        Send a Message
                      </button>
                      <button class="dropdown-item text-danger" type="button"  data-toggle="modal" data-target="">
                        Decline
                      </button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <script>
                $('#like<%= job_application.id %>').on('click', () => {
                  const like = $('.like<%= job_application.id %>');
                  const icon_fa_prefix = like.attr('data-prefix');

                  $.ajax({
                    url: 'like_job_application',
                    method: 'POST',
                    dataType: 'json',
                    data: { id: '<%= job_application.id %>' },
                    success: function() {
                      like.toggleClass('text-danger');
                      if (icon_fa_prefix === 'fas') {
                        like.attr('data-prefix', 'far');
                      } else {
                        like.attr('data-prefix', 'fas');
                      }
                    }
                  });
                });
              </script>
            <% end %>
        </div>
        <script>
          $('.link_action<%= job.id %>').on('click', () => {
            $('.more-less<%= job.id %>').toggle();
          })
        </script>
      <% end %>
    </div>
    <div class="d-flex d-lg-none mb-3"></div> <!--Shim for mobile views-->
  <% end %>
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>
<script>
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const open_job = urlParams.get('view_job');
  $('#collapseApplications' + open_job).collapse('show');
  $('.more-less' + open_job).toggle();
  $('html,body').animate({scrollTop: $('.card' + open_job).offset().top},'slow');
</script>