<p><%= @contract.freelancer_profile.full_name %> closed the <b><%= @contract.title %></b> contract.</p>
<p>Please take a few minutes to <a href=<%= public_write_a_review_url(review_by_contract: @contract.id) %> target='_blank'> write a review</a> of your experience with them.</p>
<p>If you want to work with this person again, go to your <a href=<%= employer_contracts_url %> target='_blank'>Contracts</a> to reopen the contract or offer them another job.</p>
<%= render partial: 'email/button', locals: { button_txt: 'Write a Review', url: public_write_a_review_url(review_by_contract: @contract.id) } %>