<p><%= @timesheet.contract.freelancer_profile.full_name %> has updated entries for the <b><%=  @timesheet.contract.title %></b> contract.
Your payment will be processed on <b><%= @timesheet.pending_payment_date.strftime('%b %e') %></b>. Please review and <a href=<%= public_view_contract_url(timesheet_id: @timesheet.id) %> target='_blank'>submit disputes</a> by <b><%= @timesheet.dispute_deadline %></b></p>
<p>Total hours: <%= @timesheet.total_hours %></p>
<p>Amount: <%= number_to_currency(@timesheet.total_usd, strip_insignificant_zeros: true) %></p>
<p><b>Details</b></p>
<% @timesheet.billings.not_paid.each do |billing| %>
  <hr>
  <p><%= billing.work_done&.strftime("%b %d") %>,
    <% if billing.minutes.present? && billing.hours.present? %>
      <%= (billing.hours + billing.minutes / 60.0).round(2) %> hours
    <% elsif billing.minutes.present? && billing.hours.nil? %>
      <%= (billing.minutes / 60.0).round(2) %> hour
    <% else %>
      <%= billing.hours %> <%= billing.hours.present? ? "#{"hour".pluralize(billing.hours)}" : "" %>
    <% end %>
  </p>
  <p><%= billing.description %></p>
<% end %>

<%= render partial: 'email/button', locals: { button_txt: 'View Contract', url: public_view_contract_url(timesheet_id: @timesheet.id) } %>
