<style>
  .sidenav {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-100%);
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50px;
    color: #6c757d;
    margin-bottom: 20px;
    text-decoration: none;
  }

  #scrollDown {
    position: absolute;
    top: 12px;
    right: 55px;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 20px;
  }
</style>

<div id="mySidenav" class="sidenav">
  <a href="#" id="closeFilterNav" class="closebtn">&times;</a>
  <a href="#" id="scrollDown" class=""><i class="fa fa-chevron-down fa-lg " aria-hidden="true"></i></a>

  <div class="container">
    <%= form_for :search, url: employer_talent_index_path, method: :get, html: {class: 'talent-filters'} do |f| %>
      <div class="form-group mt-4 mb-3">
        <div>
          <%= f.label :sector_ids, 'Sectors', class: 'bp-input-label' %>
        </div>
        <%= f.select :sector_ids, @sectors_options_for_select,
                     {selected: params.dig(:search, :sector_ids)},
                     multiple: true,
                     style: "width: 100%",
                     class: "form-control select2" %>
      </div>

      <div class="form-group mb-3">
        <div>
          <%= f.label :real_estate_skill_ids, 'Skills', class: 'bp-input-label' %>
        </div>
        <%= f.select :real_estate_skill_ids, @skill_options_for_select,
                     {selected: params.dig(:search, :real_estate_skill_ids)},
                     multiple: true,
                     style: "width: 100%",
                     class: "form-control select2" %>
      </div>

      <div class="form-group mb-5">
        <div>
          <%= f.label :software_ids, 'Software', class: 'bp-input-label' %>
        </div>
        <%= f.select :software_ids, @software_options_for_select,
                     {selected: params.dig(:search, :software_ids)},
                     multiple: true,
                     style: "width: 100%",
                     class: "form-control select2" %>
      </div>
      <div class="d-flex justify-content-between">
        <button id="resetFilters" class="btn btn-outline-primary">Reset Filters</button>
        <%= f.submit 'Apply Filters', id: 'applyFilters', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<script>
    $(document).on('turbolinks:load', function (e) {
        function openNav() {
            const mySidenav = document.getElementById("mySidenav");
            mySidenav.style.transform = 'translateX(0)';
            mySidenav.style.border = "1px solid #e9ecef";
            mySidenav.classList.add("in");
        }

        function closeNav() {
            const mySidenav = document.getElementById("mySidenav");
            mySidenav.style.transform = 'translateX(-100%)';
            mySidenav.style.border = "none";
            mySidenav.classList.remove("in");
            $('.sidenav').slimScroll({destroy: true});
        }

        function scrollToTheEnd(scrollHeight) {
            $('.sidenav').slimScroll({
                scrollTo: scrollHeight + 'px'
            })
        }

        $('.select2').select2({
            placeholder: 'Any',
            allowClear: true
        });
        $('.select2-search__field').css('width', '100%');

        $('#showFilters').on('click', function (e) {
            const isOpened = document.getElementById("mySidenav").classList.contains("in");
            e.preventDefault();
            if (isOpened) {
                closeNav()
            } else {
                openNav()
            }
        });

        $('#closeFilterNav').on('click', function (e) {
            e.preventDefault();
            closeNav()
        });

        $('#resetFilters').on('click', function(e) {
            e.preventDefault();
            const $select2 = $('.select2');
            $select2.val('');
            $select2.trigger('change');
        });

        $('#scrollDown').on('click', function (e) {
            e.preventDefault();
            $('.sidenav').slimScroll({
                height: document.documentElement.clientHeight + 'px',
                width: '300px'
            });
            let scrollHeight = Math.max(
                document.body.scrollHeight, document.documentElement.scrollHeight,
                document.body.offsetHeight, document.documentElement.offsetHeight,
                document.body.clientHeight, document.documentElement.clientHeight
            );
            scrollToTheEnd(scrollHeight)
        });
    });
</script>