<div class="modal" id="interviewRequest<%= freelancer_profile.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--  Header with '×'-->
      <div class="modal-header">
        <h1 class="modal-title" id="showRequestInterviewLabel">Request an Interview</h1>
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Request Interview Card-->
      <div class="modal-body py-0">
        <%= form_for (InterviewRequest.new), url: employer_interview_request_path do |f| %>
          <%= f.hidden_field :state, value: '0' %>
          <%= f.hidden_field :id, value: freelancer_profile.id %>
      <div class="form-group mb-3">
          <label for="addPersonalMessageTextArea" class="bp-input-label h5">
            Add a personal message.
          </label>
        <div class="w-100">
          <%= text_area_tag 'message', nil, class: "form-control mb-3",rows: "3", placeholder: "Enter your message" %>
        </div>
        <div class="d-flex justify-content-end">
          <%= f.submit 'Send Invitation', class: 'btn btn-primary mt-3 send-invitation' %>
        </div>
        <div class="alert alert-success alert-dismissible fade d-none">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <i class="far fa-check-circle"></i><strong> Success!</strong> Your interview request has been sent to <a href="#" class="alert-link">
           First Last
        </a>. We'll send notification when it is accepted or declined.
        </div>
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.send-invitation').on('click', function(){
    $('.alert').removeClass('d-none').addClass('show');
  })
</script>
