<style>
  .talent-cards {
    position: relative;
  }
</style>

<%= render partial: 'employer/navigation', locals: { section: 'talent' } %>
<%= render partial: 'shared/notice_and_alert' %>

<!--Talent card-->
<div class="container mb-3 talent-cards">
  <%= render partial: 'employer/talent/filter_side_bar' %>
  <div class="d-flex align-items-end">
    <h1 class="text-nowrap mr-auto">Find Talent</h1>
    <a href="#" id="showFilters" class="mb-2 text-nowrap">Show Filters <i class="fas fa-filter"></i></a>
  </div>
  <% if @filters_list %>
    <div class="d-flex mb-2">
      <div class="mr-auto">
        Filtered by: 
        <b class="text-secondary">
          <%= @filters_list.join(', ') %>
        </b>
      </div>
      <%= link_to "#", id: "rejectFilters", class: "ml-4 text-black-50 text-nowrap", data: {url: employer_talent_index_path} do %>
        Reset filters<i class="fa fa-times-circle fa-lg ml-1" aria-hidden="true"></i>
      <% end %>
    </div>
    <% end %>
  <% @freelancer_profiles.each do |freelancer_profile| %>
    <%= render partial: 'employer/talent/show_profile', locals: { freelancer_profile: freelancer_profile } %>
    <div id="interview-request">
      <%= render partial: 'employer/talent/interview_request', locals: { freelancer_profile: freelancer_profile, interview: nil } %>
    </div>
    <div class="bp-card mb-3 card<%= freelancer_profile.id %>">
      <div class="d-flex justify-content-between flex-column flex-lg-row">
        <%= render partial: 'shared/about_freelancer', locals: { freelancer_profile: freelancer_profile,
                                                                 job_application: nil,
                                                                 editable: false } %>
        <div class="ml-sm-auto mt-4 mt-lg-0">
          <div class="d-block d-sm-flex">
            <% if freelancer_profile.can_request_interview?(current_user.employer_profile.id) %>
              <div class="d-block d-sm-inline-block mr-0 mr-sm-2 mb-2 mb-sm-0">
                <button class="btn btn-primary d-sm-in w-100 interviewRequest<%= freelancer_profile.id %>" type="button" data-toggle="modal" id="interview-request-<%= freelancer_profile.id %>" data-target="#interviewRequest<%= freelancer_profile.id %>">Request Interview</button>
              </div>
            <% end %>
            <div class="d-block d-sm-inline-block">
              <button class="btn btn-outline-primary container-fluid" type="button" data-toggle="modal" data-target="#showProfile<%= freelancer_profile.id %>">Show Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if current_user.confirmed_at.blank? %>
      <%= render partial: 'employer/shared/prevent_interview_request', locals: { freelancer_profile_id: freelancer_profile.id } %>
    <% end %>
  <% end %>
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>

<% if @freelancer_profile_id.present? %>
  <script>
    const freelancer_profile = '<%= @freelancer_profile_id %>';
    $('html,body').animate({scrollTop: $('.card' + freelancer_profile).offset().top},'slow');
    if (freelancer_profile) {
      $('.interviewRequest<%= @freelancer_profile_id %>')[0].click();
    }
  </script>
<% end %>