<%= render partial: 'employer/navigation', locals: { section: 'talent' } %>

<!--Talent card-->
<div class="container mb-3">
  <div class="d-flex align-items-end">
      <div class="col px-0"><h1>Find Talent</h1></div>
      <div class="col px-0">
        <h5 id="filters_selected" class="text-secondary">
          <% if filters_selected.present? %>
            <%= filters_selected.join(', ') %>
          <% end %>
        </h5>
      </div>
      <div class="col d-flex justify-content-between px-0">
        <div class="col d-flex justify-content-start px-0">
          <%= button_tag(type: 'button', class: "reset-filters close-x border border-0 mb-1", hidden: true) do
            content_tag(:span, "×", class: "close-x", hidden: true)
          end%>
        </div>
        <button class="btn btn-link ml-auto pr-0" type="button" data-toggle="slide-collapse" data-target="#showFindingTalentFilter" aria-expanded="false" >Show Filters <i class="fas fa-filter"></i></button>
      </div>
  </div>
  <%= render partial: 'employer/talent/talent_filters' %>

  <div id="freelancer_profiles">
    <%= render partial: 'freelancer_profiles' %>
  </div>
</div>
