<style>
  .talent-cards {
    position: relative;
  }
</style>

<%= render partial: 'employer/navigation', locals: { section: 'talent' } %>

<!--Talent card-->
<div class="container mb-3">

    <% if flash[:notice].present? %>
      <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice].html_safe %>
      </div>
    <% end %>

  <div class="d-flex align-items-end">
    <h1>Find Talent</h1>
    <a href="#" class="mb-2 ml-auto">Show Filters <i class="fas fa-filter"></i></a>
<div class="container mb-3 talent-cards">
  <%= render partial: 'employer/talent/filter_side_bar' %>
  <div class="d-flex justify-content-between">
    <h1 class="">Find Talent</h1>
    <% if @filters_list %>
      <h6 class="flex-grow-1 text-secondary text-right mx-3">
        <%= @filters_list.join(', ') %>
        <%= link_to "#", id: "rejectFilters", data: {url: employer_talent_index_path} do %>
          <i class="fa fa-times-circle fa-lg text-black-50 " aria-hidden="true"></i>
        <% end %>
      </h6>
    <% end %>
    <a href="#" id="showFilters" class="mb-2 ml-auto">Show Filters <i class="fas fa-filter"></i></a>
  </div>
  <%= render 'devise/shared/error_messages' if @freelancer_profiles.empty? %>
  <% @freelancer_profiles.each do |freelancer_profile| %>
    <%= render partial: 'employer/talent/show_profile', locals: { freelancer_profile: freelancer_profile } %>

    <div id="interview-request">
      <%= render partial: 'employer/talent/interview_request', locals: { freelancer_profile: freelancer_profile } %>
    </div>

    <div class="bp-card mb-3">
      <div class="d-flex justify-content-between flex-column flex-lg-row">
        <div>
          <div class="d-flex">
            <% if freelancer_profile.avatar.attached? %>
              <div class="text-light mr-2 avatar-image" style="line-height: 0;">
                <%= image_tag freelancer_profile.avatar, class: 'rounded-circle', width: '80px', height: '80px' %>
              </div>
            <% else %>
              <div class="text-light mr-2 avatar-image" style="font-size: 80px; line-height: 0;"><i class="fas fa-user-circle"></i></div>
            <% end %>
            <div>
              <h2 class="mb-1"><%= freelancer_profile.first_name %> <%=  freelancer_profile.last_name %></h2>
              <div class="bp-text-sm mb-3">
                <%= freelancer_profile.professional_title %><br>
                <%= freelancer_profile.location %></div>
            </div>
          </div>
          <div>
            <p><%= freelancer_profile.professional_summary %></p>
            <p class="text-secondary"><b>$100 per hour</b></p>
            <%  freelancer_profile.sectors.order(description: :asc)&.each do |sector| %>
              <span class="badge badge-secondary mb-1"><%= sector.description %></span>
            <% end %>
          </div>
        </div>
        <div class="d-flex d-lg-none mb-4"></div> <!--Shim for mobile views-->
        <div class="ml-sm-auto">
          <div class="d-block d-sm-flex">
            <% if @current_user_interview_request_freelancer_ids.exclude?(freelancer_profile.id) %>
              <div class="d-block p-1 d-sm-inline-block">
                <button class="btn btn-primary d-sm-in w-100" type="button" data-toggle="modal" data-target="#interviewRequest<%= freelancer_profile.id %>">Request Interview</button>
              </div>
            <% end %>
            <div class="d-block p-1 d-sm-inline-block">
              <button class="btn btn-outline-primary w-100" type="button" data-toggle="modal" data-target="#showProfile<%= freelancer_profile.id %>">Show Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>

<script>
    // alert auto close
    $(".alert").delay(4000).slideUp(200, function () {
        $(this).alert('close');
    });
</script>
