<div class="modal" id="removeInterviewRequest<%= interview.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content mt-3">
      <div class="modal-header">
        <h1 class="modal-title" id="deleteApplicationDraftLabel">Remove Interview Request</h1>
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <p>Are you sure you want to remove your interview request with <strong><%= interview.freelancer_profile.full_name %></strong>?</p>
      </div>
      <div class="modal-footer justify-content-between pt-0">
        <button type="button" class="btn btn-link px-0 text-dark" data-dismiss="modal">Cancel</button>
        <div>
          <button class="btn btn-outline-danger d-block remove-interview-request<%= interview.id %>" type="button">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.remove-interview-request<%= interview.id %>').on('click', () => {
    $.ajax({
      url: '/employer/remove_interview_request',
      method: 'POST',
      data: { id: <%= interview.id %> },
      success: () => {
        document.location.reload();
      }
    })
  })
</script>
