<%= render partial: 'employer/navigation', locals: { section: 'interviews' } %>

<div class="container mb-3 talent-cards">
  <% @interviews.each do |interview| %>
    <%= render partial: 'employer/talent/show_profile', locals: { freelancer_profile: interview.freelancer_profile } %>
    <div id="interview-request">
      <%= render partial: 'employer/talent/interview_request', locals: { freelancer_profile: interview.freelancer_profile } %>
    </div>
    <div class="bp-card mb-3">
      <div class="d-flex justify-content-between flex-column flex-lg-row">
        <%= render partial: 'shared/about_freelancer', locals: { freelancer_profile: interview.freelancer_profile,
                                                                 job_application: nil,
                                                                 editable: false } %>
      <div class="d-flex d-lg-none mb-4"></div> <!--Shim for mobile views-->
        <div class="ml-sm-auto">
          <div class="d-block d-sm-flex">
            <div class="bp-text-sm text-secondary font-weight-bold align-self-md-center align-self-start mr-3">
              <%= interview.pending? ? 'Request Sent' : 'Request Accepted' %>
            </div>
            <div class="d-block p-1 d-sm-inline-block">
              <button class="btn btn-primary w-100" type="button" data-toggle="modal" data-target="#showProfile<%= interview.freelancer_profile.id %>">Show Profile</button>
            </div>
            <div class="dropdown p-1">
              <button class="btn btn-outline-primary dropdown-toggle pr-1" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More<i class="fas fa-chevron-down ml-1"></i></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                  <button class="dropdown-item" type="button">Show Profile</button>
                  <button class="dropdown-item" type="button">Make an Offer</button>
                  <button class="dropdown-item text-danger" type="button">Remove</button>
               </div>
            </div>
         </div>
       </div>
      </div>
    </div>
  <% end %>
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>