<%= render partial: 'employer/navigation', locals: { section: 'interviews' } %>
<%= render partial: 'shared/notice_and_alert' %>

<div class="container mb-3 talent-cards">
  <h1>Interviews</h1>
  <% @interviews.each do |interview| %>
    <%= render partial: 'employer/talent/show_profile', locals: { freelancer_profile: interview.freelancer_profile } %>
    <div id="interview-request">
      <%= render partial: 'employer/talent/interview_request', locals: { freelancer_profile: interview.freelancer_profile, interview: interview  } %>
    </div>
    <div class="bp-card mb-3 card<%= interview.freelancer_profile.id %>">
      <div class="d-flex justify-content-between flex-column flex-lg-row">
        <%= render partial: 'shared/about_freelancer', locals: { freelancer_profile: interview.freelancer_profile,
                                                                job_application: nil,
                                                                editable: false } %>
        <%= render partial: 'employer/interviews/withdraw_request', locals: { interview_request: interview } %>
        <%= render partial: 'shared/make_an_offer_without_job', locals: { freelancer_profile: interview.freelancer_profile,
                                                                          redirect_reference: 'interviews'} %>
        <div class="ml-sm-auto mt-3 mt-lg-0">
          <div class="d-block d-sm-flex">
            <div class="bp-text-sm text-secondary text-nowrap font-weight-bold align-self-start mt-0 mb-3 mt-sm-2 mb-sm-0 ml-1 mr-3">
              <%= interview.pending? ? 'Request Sent' : 'Request Accepted' %>
            </div>
            <% if interview.pending? %>
              <div class="d-block d-sm-inline-block mr-sm-2 mb-2 mb-sm-0">
                <button class="btn btn-primary w-100" type="button" data-toggle="modal" data-target="#showProfile<%= interview.freelancer_profile.id %>">Show Profile</button>
              </div>
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle pr-1 w-100" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More<i class="fas fa-chevron-down ml-1"></i></button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#interviewRequest<%= interview.freelancer_profile.id %>">Edit Request</button>
                    <button class="dropdown-item text-danger" type="button" data-toggle="modal" data-target="#withdrawRequest<%= interview.id %>">Withdraw Request</button>
                  </div>
              </div>
            <% elsif interview.accepted? %>
              <div class="d-block d-sm-inline-block mb-2 mb-sm-0 mr-sm-2">
                <button class="btn btn-primary w-100" type="button" data-toggle="modal" data-target="#sendMessage<%= interview.id %>">Send Message</button>
              </div>
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle pr-1 w-100" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More<i class="fas fa-chevron-down ml-1"></i></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#showProfile<%= interview.freelancer_profile.id %>">Show Profile</button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#makeAnOfferWithoutJob<%= interview.freelancer_profile.id %>" id="makeAnOfferWithoutJobButton<%= interview.freelancer_profile.id %>">Make an Offer</button>
                  <button class="dropdown-item text-danger" type="button" data-toggle="modal" data-target="#removeInterviewRequest<%= interview.id %>">Remove</button>
                </div>
              </div>
            <% end %>
            <%= render partial: 'employer/jobs/send_message', locals: { to_user: interview.freelancer_profile.user, job_title: nil, id: interview.id, redirect_reference: '' } %>
            <%= render partial: 'employer/interviews/remove_interview_request', locals: { interview: interview } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>
<div id="payment_method"></div>
<% if session[:make_an_offer_modal].present? %>
  <script>
    const modal_id = '<%= session[:make_an_offer_modal] %>';
     $('html,body').animate({scrollTop: $('.card' + modal_id).offset().top},'slow');
     $('#makeAnOfferWithoutJobButton' + modal_id)[0].click();
  </script>
  <% session.delete(:make_an_offer_modal) %>
<% end %>