<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4 text-primary">Log In</h2>
</div>
<div class="row justify-content-center log-in-container">

  <div class="card col-md-5 shadow-sm align-items-center">

    <div class="col-md-10 px-4 py-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <%= f.label :email, class: 'text-primary text-left' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control center font-weight-light', placeholder: "Email address", id: "user_email"%>
        </div>

        <div class="field">
          <%= f.label :password, class: 'text-primary' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control center font-weight-light', placeholder: "Password", id: "user_password" %>
        </div>

        <div class="field text-center mb-3">
          <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-center text-muted" %><br />
        </div>

        <div class="actions">
          <%= f.submit "Login", class: "btn btn-primary col-md-12" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(function() {
        if (getCookie("email").length > 0) {
            $('#user_email').val(getCookie("email"));
            $('#user_password').trigger('focus');
            deleteCookie("email");
        };
    });
  function setCookie(name, value, options = {}) {

      options = {
          path: '/'
      };

      if (options.expires instanceof Date) {
          options.expires = options.expires.toUTCString();
      }

      let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

      for (let optionKey in options) {
          updatedCookie += "; " + optionKey;
          let optionValue = options[optionKey];
          if (optionValue !== true) {
              updatedCookie += "=" + optionValue;
          }
      }

      document.cookie = updatedCookie;
  }

  function getCookie(name) {
      let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
  };

  function deleteCookie(name) {
      setCookie(name, "", {
          'max-age': -1
      })
  };
</script>

<%= render "devise/shared/links" %>
