<%=  render 'nav_bar/login_nav_bar' %>

<div class="row justify-content-center log-in-container">

  <div class="bp-card col-5 shadow-sm align-items-center">
    <div class="h1 mt-2 text-secondary text-center">Log In to Bullpen</div>
    <div class="">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'devise/shared/error_messages' %>
        <div class="field mb-3">
          <%= f.label 'Email Address', class: 'h4 text-secondary text-left' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-white border-gray-dark', placeholder: "Email address", id: "user_email"%>
        </div>

        <div class="field mb-2">
          <%= f.label :password, class: 'h4 text-secondary' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control bg-white border-gray-dark', placeholder: "Password", id: "user_password" %>
        </div>

        <div class="field text-center mb-3">
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-center text-primary" %><br />
        </div>

        <div class="actions">
          <%= f.submit "Log In", class: "btn btn-primary col-md-12" %>

        </div>
      <% end %>

      <div class="or-container">
        <div class="line-separator"></div>
        <div class="or-label">or</div>
        <div class="line-separator"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to image_pack_tag('media/images/icons8-google-48.png', size: '20x20') + ' Log In with Gmail',
                      join_path,
                      class: "btn btn-google btn-block btn-outline-primary text-primary" %>
        </div>
      </div> <br>

    </div>
    <div class="bg-white bp-card-footer text-center text-break">
      For help contact us at <%= mail_to('support@bullpenre.com') %><br />
    </div>
  </div>
</div>

<script>
    $(function() {
        if (getCookie("email").length > 0) {
            $('#user_email').val(getCookie("email"));
            $('#user_password').trigger('focus');
            deleteCookie("email");
        };
    });
  function setCookie(name, value, options = {}) {

      options = {
          path: '/'
      };

      if (options.expires instanceof Date) {
          options.expires = options.expires.toUTCString();
      }

      let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

      for (let optionKey in options) {
          updatedCookie += "; " + optionKey;
          let optionValue = options[optionKey];
          if (optionValue !== true) {
              updatedCookie += "=" + optionValue;
          }
      }

      document.cookie = updatedCookie;
  }

  function getCookie(name) {
      let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
  };

  function deleteCookie(name) {
      setCookie(name, "", {
          'max-age': -1
      })
  };
</script>
