<%= render partial: 'freelancer/navigation', locals: { section: 'interviews' } %>

<div class="container mb-3">
  <h1>Interviews</h1>
  <% @interviews.each do |interview| %>
    <div class="bp-card mb-3">
      <div>
        <div class="d-flex flex-column flex-lg-row">
          <div class="text-light mb-1 ml-2 avatar-image" style="font-size: 113px; line-height: 0;"><i class="fas fa-user-circle"></i></div>
          <div class="ml-2 w-100">
            <div class="mr-auto"><h2 class="mb-1"><%= interview.employer_profile.user.full_name %></h2></div>
            <div class="bp-text-sm mb-1"><br>
              <%= interview.employer_profile.company_name %><br>
              <%= interview.employer_profile.company_website %><br><br>
              <p> It will be a message from the employer </p>
              <p>Sent on <%= distance_of_time_in_words(interview.created_at, Time.now) %></p>
            </div>
          </div>
          <div class="d-flex flex-column align-self-lg-baseline flex-md-row my-2 my-lg-0">
            <div class="bp-text-sm text-secondary font-weight-bold align-self-md-center align-self-start text-nowrap mr-3">
              <%= interview.state.capitalize %><%= ' Request' if interview.pending? %>
            </div>
            <button class="btn btn-primary my-3 my-md-1 mr-2" type="button"  data-toggle="modal" data-target="#showJobPost">
              Accept Request
            </button>
            <button class="btn btn-outline-danger my-3 my-md-1" type="button"  data-toggle="modal" data-target="#showJobPost">
              Decline
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>


