<style>
    span.field-icon {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        right: 0.5rem;
        top: 1.0rem;
        color: $input-label-color;
        z-index: 2;
    }
    /* Style all input fields */
    input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }


    /* The message box is shown when the user clicks on the password field */
    #message, .same_psw {
        display:none;
        background: white;
        color: #000;
        position: relative;
        left: 25px;
        top: -10px;
    }

    .valid:before {
        position: relative;
        left: -10px;
        color: green;
        content: "\2713";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: grey;
    }

    .invalid:before {
        position: relative;
        left: -10px;
        content: "\2981";
    }
</style>

<div class="align-items-center bg-white border-bottom shadow-sm mb-5">
  <div class="text-left mt-2 mb-2 ml-5">
    <%= image_pack_tag('media/images/bullpen-email-logo.png', size: "175x55") %>
  </div>
</div>

<div>
  <h1>Tell us about your company</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true, id: "regForm", class: "needs-validation" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-5">
    <%= f.label :email, class: "text-primary" %><br />
    <%= f.email_field :email, class: "form-control", id: "email", required: true %>
  </div>
    <% end %>
</div>