<div class="modal" id="declineOffer<%= contract.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content mt-3">
      <div class="modal-header">
        <h1 class="modal-title" id="declineOfferLabel">Decline Offer</h1>
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <p>Are you sure you want to decline the <strong><%= contract.title %></strong> offer? We’ll send a notification to <%= contract.employer_profile.full_name %>. </p>
      </div>
      <div class="modal-footer justify-content-between pt-0">
        <button type="button" class="btn btn-link px-0 text-dark" data-dismiss="modal">Cancel</button>
        <div>
          <button class="btn btn-primary withdraw-offer-<%= contract.id %>" type="button">Decline Offer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.withdraw-offer-'+<%= contract.id %>).click(() => {
    $.ajax({
      url: '/freelancer/decline_offer',
      data: { id: '<%= contract.id %>' },
      method: 'POST',
      success: () => {
        document.location.reload();
      }
    })
  })
</script>
