<%= form_for :job_application, url: wizard_path, method: :put, remote: true do |f| %>
<div class="modal-body pt-0">
  <%= f.hidden_field :job_application_id, value: job_application.id %>
  <%= f.hidden_field 'step', value: 'application_step_2' %>

  <div class="form-group">
    <div class="d-flex justify-content-between">
      <label for="coverLetter" class="h5">Cover Letter</label>
    </div>
    <%= f.rich_text_area :cover_letter, value: job_application.cover_letter, class: "form-control", id: "coverLetter", placeholder: "Enter your cover letter", rows: "10", required: true %>
  </div>
  <div class="form-group work_sample">
    <label for="workSamples" class="h5">Work Samples<span class="text-dark font-weight-normal"> (Optional but recommended)</span></label>
    <div id="workSamples" data-allowed="<%= JobApplication::MAX_WORK_SAMPLES_COUNT %>">
      <% if job_application.work_samples.attached? %>
        <% job_application.work_samples.each do |work_sample| %>
          <div id="file-<%= work_sample.signed_id %>" class="work-sample-item">
            <div class="file-name text-break mb-2">
              <%= link_to '#', class: 'delete-work-sample', data: {id: work_sample.signed_id.to_s} do %>
                  <i class="fa fa-trash text-danger mr-1"></i>
              <% end %>
              <%= work_sample.filename.to_s %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="custom-file <%= 'd-none' unless job_application.add_work_samples_allowed? %>">
      <%= f.file_field :work_samples, multiple: true, name: 'work_samples', class: "d-none", id: "uploadWorkSample" %>
      <label class="btn btn-outline-primary upload-work-sample d-block d-sm-inline" for="uploadWorkSample">
        Attach a File
      </label>
    </div>
  </div>
  <div class="custom-control custom-checkbox mb-3">
    <%= f.check_box :template,
                    id: "template",
                    :class => "custom-control-input" %>
    <label class="custom-control-label text-secondary font-weight-bold" for="template">Use this as a template for future applications</label>
  </div>
</div>
<div class="modal-footer">
  <%= button_tag type: 'submit', value: 'back', class: "btn btn-outline-primary" do %>
    <i class="fas fa-chevron-left mr-2"></i>Back
  <% end %>
  <div class="d-none d-sm-block ml-auto">
    <%= button_tag type: 'submit', value: 'draft', class: "btn btn-outline-primary mr-1" do %>
      Save as Draft
    <% end %>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
      Preview Application<i class="fas fa-chevron-right ml-2"></i>
    <% end %>
  </div>
  <%= button_tag type: 'submit', value: 'draft', class: "btn btn-outline-primary mr-1 d-sm-none ml-auto" do %>
    Save</i>
  <% end %>
  <%= button_tag type: 'submit', class: "btn btn-primary d-sm-none" do %>
    Preview<i class="fas fa-chevron-right ml-2"></i>
  <% end %>
</div>
<% end %>

<script>
  function tooLargeFilesExist(files) {
    const maxFileSize = 20971520;
    const tooLargeFiles = files.filter(function(file) {
      return (file.size && file.size > maxFileSize)
    });
    return tooLargeFiles.length > 0
  }

  function getFilesArray(fileListObject) {
    let filesArray = [];
    for (let i = 0; i < fileListObject.length; i++) {
      filesArray.push(fileListObject[i])
    }
    return filesArray
  }

  function groupAdditionRestricted(quantity)  {
    const allowedCount = parseInt($('#workSamples').data('allowed'), 10);
    const currentCount = $('.work-sample-item').length;
    return (currentCount + quantity) > allowedCount
  }

  function showNewWorkSample(fileName, signedId) {
    return `
      <div id="file-${signedId}">
        <div class="file-name text-break mb-2">
          <a class="delete-work-sample" data-id=${signedId}>
            <i class="fa fa-trash text-danger mr-1"></i>
          </a>
          ${fileName}
          </div>
        </div>
      `
  }

  function showSwal(message) {
    return Swal.fire({
      title: '<h5>Oops!</h5>',
      text: message
    });
  }

  function toggleAttachButtonVisibility(operation) {
    let currentCount;
    const allowedCount = parseInt($('#workSamples').data('allowed'), 10);
    if (operation === 'addition') {
      currentCount = $('.work-sample-item').length + 1
    }
    if (operation === 'remove') {
      currentCount = $('.work-sample-item').length - 1
    }

    if (currentCount < allowedCount) {
      $('.custom-file').removeClass('d-none')
    } else {
      $('.custom-file').addClass('d-none')
    }
  }

  function sendFile(file) {
    const app_id = '<%= job_application.id %>';
    const step = 'application_step_2';
    const formData = new FormData();
    formData.append('work_sample', file);
    formData.append('app_id', app_id);
    formData.append('step', step);
    $.ajax({
      url: '/work_sample/update',
      method: 'PUT',
      contentType: false,
      processData: false,
      dataType: 'json',
      data: formData,
      success: (data) => {
        $('#workSamples').append(showNewWorkSample(data['fileName'], data['signedId']));
        toggleAttachButtonVisibility('append')
      },
      error: () => {
        const message = `File ${file.name} was not uploaded.`;
        showSwal(message)
      }
    });
  }

  $('.work_sample').on('change', '#uploadWorkSample', (e) => {
    const fileListObject = e.target.files;
    const filesArray = getFilesArray(fileListObject);

    if (tooLargeFilesExist(filesArray)) {
      showSwal("Uploaded files must not exceed 20MB\n")
    } else if (groupAdditionRestricted(filesArray.length)) {
      showSwal("The total number of files is more than allowed")
    } else {
      filesArray.forEach(function(file) {
        sendFile(file)
      });
    }
  });

  $('.work_sample').on('click', '.delete-work-sample', (e) => {
    let clickedWorkSample = $(e.target).parents('a').data('id');
    e.preventDefault();
    const app_id = '<%= job_application.id %>';
    const formData = new FormData();
    formData.append('app_id', app_id);
    formData.append('blob_key', clickedWorkSample);
    $.ajax({
      url: '/work_sample/destroy',
      method: 'POST',
      dataType: 'json',
      contentType: false,
      processData: false,
      data: formData,
      success: () => {
        $('#file-' + clickedWorkSample).remove();
        toggleAttachButtonVisibility('remove')
      },
    })
  });

  // Disable trix from accepted pasted or dragged/dropped files
  document.addEventListener("trix-file-accept", event => {
    event.preventDefault();
  });
</script>
