<nav class="navbar navbar-expand-lg navbar-dark bg-header mb-sm-5">
  <div class="container">
    <div class="text-left ml-md-5">
      <%= image_pack_tag('media/images/bullpen-logo-white.png', size: '95x30') %>
    </div>
    <div class="d-flex align-items-center text-white">
      Have an account? <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary ml-2' %><br /><br />
    </div>
  </div>
</nav>

<div class="log-in-container">
  <div class="bp-card m-auto text-center" style="max-width:500px">
    <div class="h2 mb-3">Sign Up for Bullpen</div>
    <div>
      <%= form_for(:user, url: join_signup_path) do |f| %>
        <%= render 'devise/shared/error_messages' %>
        <div class="field mb-3 text-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email address", id: "user_email"%>
        </div>

        <div class="actions">
          <%= f.submit "Sign Up with Email", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="bp-or-border my-3"><span>or</span></div>

      <%= google_sign_in_button(image_pack_tag('media/images/icons8-google-48.png', size: '24x24', class: 'mr-2') + 'Sign Up with Gmail', proceed_to: user_google_omniauth_callback_path, class: "btn btn-outline-primary btn-block d-flex justify-content-center mb-3") %>

    </div>
    <div class="text-muted">
      For help contact us at <%= mail_to('support@bullpenre.com') %>
    </div>
  </div>
</div>