<div class="container mb-5">
  <div class="mt-4">
    <% if @freelancer_profile.ready_for_submission? %>
      <h1>Please verify your information.</h1>
    <% elsif @freelancer_profile.pending? %>
      <div class="d-flex flex-row">
        <div class="mr-auto p-2">
          <h1>Application Submitted.</h1>
          <p>Your information is currently under review. If you'd like to make corrections you can still do so.</p>
        </div>
        <div class="p-2">
          <%= link_to 'Edit', previous_wizard_path, class: "btn btn-outline-primary btn-lg" %>
        </div>
      </div>
    <% elsif @freelancer_profile.declined? %>
      <h1>Application Declined.</h1>
      <p>We regret to inform you that your application did not meet the requirements to be a freelancer
      on the Bullpen platform. If you'd like to appeal please email your request to
        <%= mail_to('support@bullpenre.com', 'support@bullpenre.com', subject: 'Declined Application Appeal') %>.</p>
    <% end %>
  </div>
  <div class="container bp-card">
    <div class="d-flex flex-sm-row flex-column">
      <div class="mr-3">
        <% if @freelancer_profile.avatar.attached? %>
          <div class="text-light mb-3 avatar-image" style="line-height: 0;">
            <%= image_tag @freelancer_profile.avatar, class: 'rounded-circle', width: '115px', height: '115px' %>
          </div>
        <% else %>
          <div class="text-light mb-3 avatar-image" style="font-size: 113px; line-height: 0;"><i class="fas fa-user-circle"></i></div>
        <% end %>
      </div>
      <div class="">
        <h2><%= @user.first_name %> <%=  @user.last_name %></h2>
        <div class="mb-2">
          <%= @freelancer_profile.professional_title %><br>
          <%= @user.location %>
        </div>
        <div class="mb-4"><%= @freelancer_profile.professional_summary %></div>
        <div>
          <%  @freelancer_profile.sectors.order(description: :asc)&.each do |sector| %>
            <span class="badge badge-secondary mb-1"><%= sector.description %></span>
          <% end %>
        </div>
      </div>
    </div>
    <% if @freelancer_profile.real_estate_skills.any? || @freelancer_profile.softwares.any? %><hr><% end %>
    <% if @freelancer_profile.real_estate_skills.any? %>
      <div class="mt-3">
        <h4>Skills</h4>
        <div>
          <%= @freelancer_profile.real_estate_skills.order(description: :asc).pluck(:description).join(', ') %>
        </div>
      </div>
    <% end %>
    <% if @freelancer_profile.softwares.any? %>
      <div class="mt-3">
        <h4>Software Licenses</h4>
        <div>
          <%= @freelancer_profile.softwares.order(description: :asc).pluck(:description).join(', ') %>
        </div>
      </div>
    <% end %>
    <% if @freelancer_profile.freelancer_profile_experiences.any? %>
      <hr>
      <div class="mt-3">
        <h4>Experience</h4>
        <% @freelancer_profile.freelancer_profile_experiences.order(current_job: :desc, end_date: :desc).each do |work_experience| %>
          <div class="d-flex">
            <div class="mb-2"><b><%= work_experience.company %></b><br><%= work_experience.job_title %></div>
            <div class="ml-auto"><i><%= work_experience.start_date.strftime('%b %Y') %> - <%= work_experience.current_job? ? 'Present' : work_experience.end_date.strftime('%b %Y') %></i></div>
          </div>
          <ul class="mr-lg-3 mr-1 pl-3">
            <% work_experience.description_paragraphs.each do |paragraph| %>
              <li><%= paragraph %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
    <% if @freelancer_profile.freelancer_profile_educations.any? || @freelancer_profile.freelancer_certifications.any? %>
      <hr>
    <% end %>
    <div class="mt-3">
      <% if @freelancer_profile.freelancer_profile_educations.any? %>
        <h4>Education</h4>
        <% @freelancer_profile.freelancer_profile_educations.order(currently_studying: :asc, graduation_year: :desc).each do |education| %>
          <div class="mt-1 mb-2">
            <div class="d-flex">
              <div><b><%= education.institution %></b><br><%= education.degree %> <%= education.course_of_study %></div>
              <div class="ml-auto"><i><%= education.currently_studying ? 'Present' : education.graduation_year %></i></div>
            </div>
            <% if education.description.present? %>
              <ul class="mr-lg-3 mr-1 mb-0 pl-3">
                <li><%= education.description %></li>
              </ul>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @freelancer_profile.freelancer_certifications.any? %>
        <h4 class="mt-3">Licenses &amp; Certifications</h4>

        <% @freelancer_profile.freelancer_certifications.order(earned: :desc).each do |freelancer_certification| %>
          <div class="d-flex mb-2">
            <div><b><%= freelancer_certification.description %></b></div>
            <div class="ml-auto"><i><%= freelancer_certification.earned.strftime("%b, %Y") %></i></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr>
    <div class="mt-3">
      <h4>Email</h4>
      <p><%= @freelancer_profile.user.email %></p>
    </div>
    <div class="mt-4">
      <div class="d-flex">
        <% if @freelancer_profile.ready_for_submission? %>
          <div class="">
            <%= link_to 'Edit', previous_wizard_path, class: "btn btn-outline-primary btn-lg" %>
          </div>
          <div class="ml-auto">
            <%= form_for @freelancer_profile, url: wizard_path, method: :put do |f| %>
              <%= f.hidden_field :draft, value: false %>
              <%= f.submit 'Submit Application', class: 'btn btn-primary btn-lg d-none d-sm-block' %>
              <%= f.submit 'Submit', class: 'btn btn-primary btn-lg d-sm-none' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
