<%= render '/nav_bar/nav_bar' %>

<div class="container summary">
  <div class="row summary">
    <div class="col-md-12 summary">
      <div class="row summary_1">
        <div class="col-md-4 summary">
          <div class="card summary">
            <div class="card-body summary">
              <p class="card-text summary">
                <% if @freelancer_profile.avatar.attached? %>
                  <div class="text-light mb-3 avatar-image text-center summary" style="font-size: 170px;line-height: 0;">
                    <%= image_tag @freelancer_profile.avatar, class: 'rounded-circle summary' %>
                  </div>
                <% else %>
                  <div class="text-light mb-3 avatar-image text-center" style="font-size: 170px;line-height: 0;"><i class="fas fa-user-circle"></i></div>
                <% end %>
                <div class="text-center mb-5 summary">
                  <h2> <%=  @user.first_name %> <%=  @user.last_name %> </h2>
                </div>
                <div class="form-group mb-3 summary title">
                  <label class="bp-input-label summary professional-title">Professional Title</label>
                  <div class="summary professional-title"><%=  @freelancer_profile.professional_title %></div>
                </div>
                <div class="form-group mb-3 summary-summary">
                  <label class="bp-input-label summary-professional-summary">Professional Summary</label>
                  <div class="summary-professional-summary"><%=  @freelancer_profile.professional_summary %></div>
                </div>
                <div class="form-group mb-3 summary email">
                  <label class="bp-input-label summary email">Email</label>
                  <div class="summary-email"><%=  @user.email %></div>
                </div>
                <div class="form-group mb-3 summary location">
                  <label class="bp-input-label summary location">Location</label>
                  <div class="summary-location"><%=  @user.location %></div>
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-8 application-summary">
          <div class="card mb-4 application-submit">
            <div class="card-body application-submit-card">
              <% if @freelancer_profile.draft == false && @freelancer_profile.pending? %>
                <p class="card-text card-text-application-submitted">
                <div class="text-left mt-2 mb-4 text-left-application-submitted">
                  <h2 class="h2-application-submitted">Application Submitted</h2>
                </div>
                <div class="text-left mb-4 under-review">
                  Your information is currently under review. If you'd like to make corrections you can still do so.
                </div>
                <div class="row row-under-review">
                  <div class="col col-under-review">
                    <%= link_to 'Modify Application', previous_wizard_path, class: "btn btn-primary btn-under-review" %>
                  </div>
                  </div>
                </p>
              <% elsif @freelancer_profile.declined? %>
                <p class="card-text">
                  <div class="text-left mt-2 mb-4">
                    <h2>Application Declined</h2>
                  </div>
                  <div class="text-left mb-4">
                    We regret to inform you that your application did not meet the requirements to be a freelancer
                    on the Bullpen platform. If you'd like to appeal please email your request to
                    <%= mail_to('support@bullpenre.com', 'support@bullpenre.com', subject: 'Declined Application Appeal') %>.
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
                    </div>
                  </div>
                </p>
              <% else %>
                <p class="card-text initial-submit">
                <div class="text-left mt-2 mb-4 initial-submit">
                  <h2>Submit your application</h2>
                </div>
                <div class="text-left mb-4 please-verify">
                  Please verify your information and click the submit button to complete the application process.
                </div>
                <%= form_for @freelancer_profile, html: {class: 'please-verify'}, url: wizard_path, method: :put do |f| %>
                  <div class="row please-verify">
                    <%= f.hidden_field :draft, value: false %>
                    <div class="col please-verify-back">
                      <%= link_to 'Back', previous_wizard_path, class: "btn btn-link px-0 please-verify-back" %>
                    </div>
                    <div class="col text-right please-verify-submit">
                      <%= f.submit 'Submit application', class: 'btn btn-primary please-verify-submit' %>
                    </div>
                  </div>
                <% end %>
                </p>
              <% end %>
            </div>
            </div>
          <div class="card application-summary">
            <div class="card-body body-application-summary">
              <p class="card-text application-summary">
                <div class="text-left mb-4 text-application-summary">
                  <h2>Application Summary</h2>
                </div>
                <div class="row row-skills-sector">
                  <div class="col col-skills">
                    <div class="form-group mb-3 label-skills">
                      <label class="bp-input-label label-skills">Skills</label>
                      <div class="w-100 w-100-skills">
                        <%  @freelancer_profile&.freelancer_real_estate_skills&.each do |skill| %>
                          <div class="btn btn-dark small mb-1 btn-skills" style="background-color: #005495; border: none; cursor: default;">
                            <%= skill.real_estate_skill.description %>
                          </div>
                        <% end %>
                      </div>
                    </div>

                  </div>
                  <div class="col sector">
                    <div class="form-group mb-3 form-group-sector">
                      <label class="bp-input-label label-sector">Sectors</label>
                      <div class="w-100 w-100-sector">
                        <%  @freelancer_profile&.freelancer_sectors&.map do |freelancer_sector| %>
                          <div class="btn btn-dark small mb-1 btn-sector" style="background-color: #005495; border: none; cursor: default;">
                            <%= freelancer_sector.sector.description %>
                          </div>
                        <% end %>
                      </div>

                    </div>
                  </div>
                </div>
              <div class="row row-work-experience">
                <div class="col col-work-experience">
                  <div class="form-group mb-3 form-group-work-experience">
                    <label class="bp-input-label label-work-experience">Work Experience</label>
                    <div class="work_exp">
                      <% @freelancer_profile.freelancer_profile_experiences.each do |work_exp| %>
                        <div class="work_exp-job-title"><%= work_exp.job_title %></div>
                        <div class="row bp-text-sm work_exp">
                          <div class="col-md work_exp-company-location">
                            <%= work_exp.company %>, <%= work_exp.location %>
                          </div>
                          <div class="col-md work_exp-start-date">
                            <%= work_exp.start_date.strftime("%b, %Y") %>-<%= work_exp.current_job.present? ? "Present" : work_exp.end_date&.strftime("%b, %Y") %>
                          </div>
                        </div>
                        <div class="hr-under-work-experience">
                          <hr class="under-work-experience">
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col col-education">
                  <div class="form-group mb-3 form-group-education">
                    <label class="bp-input-label label-education">Education</label>
                    <div class="div-education">
                      <% @freelancer_profile.freelancer_profile_educations.each do |education_exp| %>
                        <div class="education_exp"><%= education_exp.institution %></div>
                        <div class="row bp-text-sm row-education_exp">
                          <div class="col-md education_exp-degree"><%= education_exp.degree %>, <%= education_exp.course_of_study %></div>
                          <div class="col-md education_exp-currently-studying"><%= education_exp.currently_studying.present? ? "Currently Studying" : education_exp.graduation_year %></div>
                        </div>
                        <div class="hr-under-education">
                          <hr class="under-education">
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>