<div class="container mb-5">
  <div class="row">
    <div class="col mt-4">
      <% if @freelancer_profile.ready_for_submission? %>
        <h1>Please verify your information.</h1>
      <% elsif @freelancer_profile.pending? %>
        <div class="row">
          <div class="col-md-10 col-sm-12">
            <h1>Application Submitted.</h1>
            <p>Your information is currently under review. If you'd like to make corrections you can still do so.</p>
          </div>
          <div class="col-md-2 col-sm-12 text-md-right text-sm-center text-center mb-3">
            <%= link_to 'Edit', previous_wizard_path, class: "btn btn-outline-primary btn-lg" %>
          </div>
        </div>
      <% elsif @freelancer_profile.declined? %>
        <h1>Application Declined.</h1>
        <p>We regret to inform you that your application did not meet the requirements to be a freelancer
        on the Bullpen platform. If you'd like to appeal please email your request to
          <%= mail_to('support@bullpenre.com', 'support@bullpenre.com', subject: 'Declined Application Appeal') %>.</p>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <div class="row">
              <div class="col-lg-2">
                <% if @freelancer_profile.avatar.attached? %>
                  <div class="text-light mb-3 avatar-image text-center" style="font-size: 120px;line-height: 0;">
                    <%= image_tag @freelancer_profile.avatar, class: 'rounded-circle img-fluid' %>
                  </div>
                <% else %>
                  <div class="text-light mb-3 avatar-image text-center" style="font-size: 170px;line-height: 0;"><i class="fas fa-user-circle"></i></div>
                <% end %>
              </div>
              <div class="col-lg-10 text-left">
                <h2><%= @user.first_name %> <%=  @user.last_name %></h2>
                <div class="mb-2">
                  <%= @freelancer_profile.professional_title %><br>
                  <%= @user.location %>
                </div>
                <div class="mb-4"><%= @freelancer_profile.professional_summary %></div>
                <div>
                  <%  @freelancer_profile.sectors.order(description: :asc)&.each do |sector| %>
                    <div class="btn btn-dark small mb-1" style="background-color: #005495; border: none; cursor: default;">
                      <%= sector.description %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col">
                <% if @freelancer_profile.real_estate_skills.any? || @freelancer_profile.softwares.any? %>
                  <div><hr></div>
                <% end %>
                <% if @freelancer_profile.real_estate_skills.any? %>
                  <div class="form-group mt-3">
                    <div>
                      <label class="bp-input-label">Skills</label>
                    </div>
                    <div>
                      <%= @freelancer_profile.real_estate_skills.order(description: :asc).pluck(:description).join(', ') %>
                    </div>
                  </div>
                <% end %>
                <% if @freelancer_profile.softwares.any? %>
                  <div class="form-group mt-3">
                    <div>
                      <label class="bp-input-label">Software Licenses</label>
                    </div>
                    <div>
                      <%= @freelancer_profile.softwares.order(description: :asc).pluck(:description).join(', ') %>
                    </div>
                  </div>
                <% end %>
                <% if @freelancer_profile.freelancer_profile_experiences.any? %>
                  <div><hr></div>
                  <div class="form-group mt-3">
                    <div>
                      <label class="bp-input-label">Experience</label>
                    </div>
                    <% @freelancer_profile.freelancer_profile_experiences.order(current_job: :desc, end_date: :desc).each do |work_experience| %>
                      <div class="row">
                        <div class="col-6 text-left"><b><%= work_experience.company %></b><br><%= work_experience.job_title %></div>
                        <div class="col-6 text-right"><i><%= work_experience.start_date.strftime('%b %Y') %> - <%= work_experience.current_job? ? 'Present' : work_experience.end_date.strftime('%b %Y') %></i></div>
                      </div>
                      <div>
                        <ul>
                          <% work_experience.description_paragraphs.each do |paragraph| %>
                            <li><%= paragraph %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if @freelancer_profile.freelancer_profile_educations.any? || @freelancer_profile.freelancer_certifications.any? %>
                  <div><hr></div>
                <% end %>
                <div class="form-group mt-3">
                  <% if @freelancer_profile.freelancer_profile_educations.any? %>
                    <div>
                      <label class="bp-input-label">Education</label>
                    </div>
                    <% @freelancer_profile.freelancer_profile_educations.order(currently_studying: :asc, graduation_year: :desc).each do |education| %>
                      <div class="row">
                        <div class="col-6 text-left"><b><%= education.institution %></b><br><%= education.degree %> <%= education.course_of_study %></div>
                        <div class="col-6 text-right"><i><%= education.currently_studying ? 'Present' : education.graduation_year %></i></div>
                      </div>
                    <% end %>
                  <% end %>
                  <% if @freelancer_profile.freelancer_certifications.any? %>
                    <div class="mt-3">
                      <label class="bp-input-label">Licenses &amp; Certifications</label>
                    </div>

                    <% @freelancer_profile.freelancer_certifications.order(earned: :desc).each do |freelancer_certification| %>
                      <div class="row mb-2">
                        <div class="col-6 text-left"><b><%= freelancer_certification.description %></b></div>
                        <div class="col-6 text-right"><i><%= freelancer_certification.earned.strftime("%b, %Y") %></i></div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div><hr></div>
                <div class="form-group mt-3">
                  <label class="bp-input-label">Email</label>
                  <p><%= @freelancer_profile.user.email %></p>
                </div>
                <div class="form-group mt-4">
                    <div class="row">
                      <% if @freelancer_profile.ready_for_submission? %>
                        <div class="col-6 text-left">
                          <%= link_to 'Edit', previous_wizard_path, class: "btn btn-outline-primary btn-lg" %>
                        </div>
                        <div class="col-6 text-right">
                            <%= form_for @freelancer_profile, url: wizard_path, method: :put do |f| %>
                              <%= f.hidden_field :draft, value: false %>
                              <%= f.submit 'Submit application', class: 'btn btn-primary btn-lg' %>
                            <% end %>
                        </div>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
