<div class="container mb-5">
  <div class="mt-4">
    <% if @freelancer_profile.ready_for_submission? %>
      <h1>Please verify your information.</h1>
    <% elsif @freelancer_profile.pending? %>
      <div class="d-flex flex-row">
        <div class="mr-auto p-2">
          <h1>Application Submitted.</h1>
          <p>Your information is currently under review. If you'd like to make corrections you can still do so.</p>
        </div>
      </div>
    <% elsif @freelancer_profile.declined? %>
      <h1>Application Declined.</h1>
      <p>We regret to inform you that your application did not meet the requirements to be a freelancer
      on the Bullpen platform. If you'd like to appeal please email your request to
        <%= mail_to('support@bullpenre.com', 'support@bullpenre.com', subject: 'Declined Application Appeal') %>.</p>
    <% end %>
  </div>
  <div class="container bp-card">
    <%= render 'shared/freelancer_summary' %>
    <hr>
    <div class="mt-3">
      <h4>Email</h4>
      <p><%= @freelancer_profile.user.email %></p>
    </div>
    <div class="mt-4">
      <div class="d-flex">
        <% if @freelancer_profile.ready_for_submission? %>
          <div class="ml-auto">
            <%= form_for @freelancer_profile, url: wizard_path, method: :put do |f| %>
              <%= f.hidden_field :draft, value: false %>
              <%= f.submit 'Submit Application', class: 'btn btn-primary btn-lg d-none d-sm-block' %>
              <%= f.submit 'Submit', class: 'btn btn-primary btn-lg d-sm-none' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
