<%= render '/nav_bar/nav_bar' %>
<!--Progress Meter, Step 4-->
<div class="container mb-4">
  <div class="progress bg-white shadow-sm mx-auto" style="max-width: 700px;">
    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="text-secondary font-weight-bold my-1 text-center">75%</div>
</div>

<!--Content Card, Step 4-->
<div class="container cy-work-education">
  <div class="bp-card mb-5 mx-auto cy-work-experience" style="max-width: 700px;">
    <div class="text-center">
      <h2>Work experience and education</h2>
      <p class="mb-4 cy-work-experience">Tell us about your work experience and educational background.</p>
    </div>
    <div class="mb-4 cy-work-experience">
      <div class="bp-input-label">
        Work Experience
      </div>
      <% if @freelancer_profile.freelancer_profile_experiences.present? %>
        <% @freelancer_profile.freelancer_profile_experiences.each do |work_exp| %>
          <div class="d-flex align-items-center justify-content-between mb-3 cy-work-experience-present">
            <div class="w-100 cy-work-experience-present">
              <div class="row cy-work-experience-present cy-title">
                <div class="col mb-1 text cy-work-experience-present cy-title"><%= work_exp.job_title %></div>
              </div>
              <div class="row bp-text-sm cy-work-experience-present cy-company-location">
                <div class="col-md cy-work-experience-present cy-company-location"><%= work_exp.company %>, <%= work_exp.location %></div>
                <div class="col-md cy-work-experience-present cy-job-duration">
                  <%= work_exp.start_date.strftime("%B, %Y") %>-<%= work_exp.current_job.present? ? "Present" : work_exp.end_date&.strftime("%B, %Y") %>
                </div>
              </div>
            </div>
            <%= render 'edit_work_experience', freelancer_profile_experience: work_exp %>
            <button class="btn btn-link cy-edit-work-experience" type="button" data-toggle="modal" data-target="#editWorkExperienceModal-<%= work_exp.id %>"><i class="fas fa-pencil-alt" style="font-size: 24px"></i></button>
          </div>
        <% end %>
      <% end %>
      <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addWorkExperienceModal"><i class="fas fa-plus mr-2"></i>Add Experience</button>
    </div>
    <div class="mb-5 cy-education-experience">
      <div class="bp-input-label">
        Education
      </div>
      <% if @freelancer_profile.freelancer_profile_educations.present? %>
        <% @freelancer_profile.freelancer_profile_educations.each do |education_exp| %>
          <div class="d-flex align-items-center justify-content-between mb-3 cy-education-present">
            <div class="w-100 cy-education-present">
              <div class="row cy-education-present cy-institution">
                <div class="col mb-1 text cy-education-present cy-institution"><%= education_exp.institution %></div>
              </div>
              <div class="row bp-text-sm cy-education-present">
                <div class="col-md cy-education-present cy-degree cy-course-of-study"><%= education_exp.degree %>, <%= education_exp.course_of_study %></div>
                <div class="col-md cy-graduation-year"><%= education_exp.currently_studying.present? ? "Currently Studying" : education_exp.graduation_year %></div>
              </div>
            </div>
            <%= render 'edit_education', freelancer_profile_education: education_exp %>
            <button class="btn btn-link cy-education" type="button" data-toggle="modal" data-target="#editEducationModal-<%= education_exp.id %>"><i class="fas fa-pencil-alt" style="font-size: 24px"></i></button>
          </div>
        <% end %>
      <% end %>
      <button class="btn btn-outline-primary cy-education" data-toggle="modal" data-target="#addEducationModal"><i class="fas fa-plus mr-2"></i>Add Education</button>
    </div>
    <div class="d-flex justify-content-between cy-work-education">
      <%= link_to 'Back', previous_wizard_path, class: "btn btn-link px-0 cy-work-education" %>
      <%= link_to 'Next', next_wizard_path, class: "btn btn-primary cy-work-education", id: "NextBtn" %>
    </div>
  </div>
</div>

<script>
    $('#NextBtn').click(function(event){
      if (<%= @freelancer_profile.freelancer_profile_educations.blank? || @freelancer_profile.freelancer_profile_experiences.blank? %>) {
        event.preventDefault();
      }
    });
</script>

<%= render 'add_work_experience' %>
<%= render 'add_education' %>
