<%= render partial: 'freelancer/navigation', locals: { section: 'jobs' } %>

<!--Job card-->
<div class="container mb-3">
  <%= render partial: 'notices_and_alerts/notice_and_alert' %>
  <h1>Jobs</h1>
  <% @jobs.each do |job| %>
    <%= render partial: 'freelancer/jobs/show_job', locals: { job: job } %>
    <div class="bp-card mb-3">
      <div>
        <div class="d-flex flex-column flex-lg-row">
          <div class="mr-auto"><h2 class="text-wrap text-break"><%= job&.title&.capitalize %></h2></div>
          <div class="d-flex flex-column flex-md-row my-2 my-lg-0">
            <% current_job_application = @job_applications.find_by(job_id: job.id) %>
            <% if @job_applications.map(&:job_id).exclude?(job.id) %>
              <div class="mr-sm-2">
                <%= link_to 'Apply', freelancer_application_flows_path(start_flow: true, job_id: job.id), { remote: true, 'data-toggle': "modal", 'data-target': "#jobAppStep1", class: "btn btn-primary d-block" } %>
              </div>
            <% elsif current_job_application.withdrawn? %>
              <div class="mr-sm-2">
                <%= link_to 'Apply', freelancer_application_flows_path(job_app: current_job_application.id, id: :application_step_1), { remote: true, 'data-toggle': "modal", 'data-target': "#jobAppStep1", class: "btn btn-primary d-block" } %>
              </div>
            <% end %>
            <button class="btn btn-outline-primary my-3 my-md-0" type="button"  data-toggle="modal" data-target="#showJobPost<%= job.id %>">
              Show Details
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="bp-text-sm mb-3">
          Posted <%= time_ago_in_words(job.created_at) %> ago
          <% if job.job_applications.size.positive? %>
            | <%= job.job_applications.size %> applicant<%= 's' if job.job_applications.size > 1 %>
          <% end %>
        </div>
        <%= render partial: 'freelancer/shared/job_card', locals: { job: job } %>
      </div>
    </div>
    <div class="d-flex d-lg-none mb-3"></div> <!--Shim for mobile views-->
  <% end %>

  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>

<div id="jobAppStepModal"></div>
