<%= render partial: 'freelancer/navigation', locals: { section: 'jobs' } %>

<!--Job card-->
<div class="container mb-3">
  <h1>Jobs</h1>
  <% @jobs.each do |job| %>
    <%= render partial: 'employer/jobs/show_job_post', locals: { job: job } %>
    <div class="bp-card mb-3">
      <div>
        <div class="d-flex flex-column flex-lg-row">
          <div class="mr-auto"><h2 class="text-wrap text-break"><%= job&.title&.capitalize %></h2></div>
          <div class="d-flex flex-column flex-md-row my-2 my-lg-0">
            <% if @job_applications.find_by(job_id: job.id).blank? %>
              <div class="btn btn-primary mr-2">
                <%= link_to 'Apply', freelancer_application_flows_path(start_flow: true, job_id: job.id), { remote: true, 'data-toggle': "modal", 'data-target': "#jobAppStep1", class: "btn btn-primary" } %>
              </div>
            <% end %>
            <button class="btn btn-outline-primary my-3 my-md-0" type="button"  data-toggle="modal" data-target="#showJobPost<%= job.id %>">
              Show Details
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="bp-text-sm mb-3">Posted <%= time_ago_in_words(job&.created_at) %> ago </div>
        <div class="row">
          <div class="col-lg-8">
            <p class="text-wrap text-break"><%= job.short_description %></p>
            <% job.job_sectors&.each do |job_sector| %>
              <span class="badge badge-secondary mt-1">
               <%= job_sector&.sector&.description %>
              </span>
            <% end %>
            <span class="badge badge-secondary mt-1"><%= job.position_length&.capitalize %></span>
            <span class="badge badge-secondary mt-1"><%= job.hours_needed&.capitalize %></span>
            <div class="bp-text-sm mb-2 mt-3">
              <% if (job.daytime_availability_required == true) %>
                <i class="far fa-clock text-secondary"></i> Daytime availability is required <span class="text-secondary">(9AM-5PM PST)</span>
              <% end %>
            </div>
            <div class="bp-text-sm mb-1">
              <% if (job.required_regional_knowledge.present?) %>
                <i class="fas fa-map-marker-alt text-secondary"></i>  Regional knowledge of <span class="text-secondary"><%= job.required_regional_knowledge %></span> is required
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex d-lg-none mb-3"></div> <!--Shim for mobile views-->
  <% end %>
</div>

<div id="jobAppStepModal"></div>
