<div class="modal fade" id="previewApplicationDropdown-<%= job_application.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-job" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div class="d-flex justify-content-between flex-column flex-lg-row mb-3">
          <%= render partial: 'shared/about_freelancer', locals: { freelancer_profile: job_application.freelancer_profile,
                                                                   job_application: job_application,
                                                                   editable: false } %>
        </div>
        
        <ul class="nav nav-tabs border-bottom" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active font-weight-bold" id="application-tab<%= "#{job_application.id}-#{job_application.job_id}" %>" data-toggle="tab" href="#application<%= "#{job_application.id}-#{job_application.job_id}" %>" role="tab" aria-controls="application<%= "#{job_application.id}-#{job_application.job_id}" %>" aria-selected="true">Application</a>
          </li>
          <% if current_user.freelancer? %>
            <li class="nav-item" role="presentation">
              <a class="nav-link font-weight-bold" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <% if job_application.freelancer_profile.reviews.present? %>
              <li class="nav-item" role="presentation">
                <a class="font-weight-bold nav-link px-0 px-sm-2" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">
                  <%= "Review".pluralize(job_application.freelancer_profile.reviews.size) %> <span class="text-secondary">(<%= job_application.freelancer_profile.reviews.size %>)</span>
                </a>
              </li>
            <% end %>
          <% elsif current_user.employer? %>
            <li class="nav-item" role="presentation">
              <a class="nav-link font-weight-bold px-0 px-sm-2 ml-3 ml-sm-0" id="profile-tab<%= job_application.id %>" data-toggle="tab" href="#profile<%= job_application.id %>" role="tab" aria-controls="profile<%= job_application.id %>" aria-selected="false">Profile</a>
            </li>
            <% if job_application.freelancer_profile.reviews.present? %>
              <li class="nav-item" role="presentation">
                <a class="font-weight-bold nav-link px-0 px-sm-2 ml-3 ml-sm-0" id="review-tab<%= job_application.id %>" data-toggle="tab" href="#review<%= job_application.id %>" role="tab" aria-controls="review<%= job_application.id %>" aria-selected="false">
                  <%= "Review".pluralize(job_application.freelancer_profile.reviews.size) %> <span class="text-secondary">(<%= job_application.freelancer_profile.reviews.size %>)</span>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="application<%= "#{job_application.id}-#{job_application.job_id}" %>" role="tabpanel" aria-labelledby="application-tab">
            <%= render partial: 'shared/freelancer_application', locals: { job_application: job_application } %>
          </div>
          <% if current_user.freelancer? %>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <%= render 'shared/freelancer_profile_tab', freelancer_profile: job_application.freelancer_profile %>
            </div>
            <% if job_application.freelancer_profile.reviews.present? %>
              <div class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
                <%= render partial: 'shared/freelancer_profile_review', locals: { freelancer_profile: job_application.freelancer_profile } %>
              </div>
            <% end %>
          <% elsif current_user.employer? %>
            <div class="tab-pane fade" id="profile<%= job_application.id %>" role="tabpanel" aria-labelledby="profile-tab">
              <%= render 'shared/freelancer_profile_tab', freelancer_profile: job_application.freelancer_profile %>
            </div>
            <% if job_application.freelancer_profile.reviews.present? %>
              <div class="tab-pane fade show" id="review<%= job_application.id %>" role="tabpanel" aria-labelledby="review-tab">
                <%= render partial: 'shared/freelancer_profile_review', locals: { freelancer_profile: job_application.freelancer_profile } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if editable %>
        <%= form_for :job_application, url: freelancer_application_flows_path, method: :put, remote: true do |f| %>
          <div class="modal-footer justify-content-between">
            <%= f.hidden_field :job_application_id, value: job_application.id %>
            <%= f.hidden_field 'step', value: 'preview_application' %>

            <%= link_to freelancer_application_flows_path(id: :application_step_1, job_app: job_application), class: "btn btn-outline-primary editApplication", remote: true do %>
              Edit<span class="d-none d-sm-inline"> Application</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.editApplication').on('click', () => {
    $('#previewApplicationDropdown-<%= job_application.id %>').modal('hide');
  })
</script>
